@font-face {

	font-family: 'as_signwriterregular';

	src: url('../fonts/as_signwriter-webfont.woff2') format('woff2'),  url('../fonts/as_signwriter-webfont.woff') format('woff');

	font-weight: normal;

	font-style: normal;

}

@font-face {

	font-family: 'homesteadinline';

	src: url('../fonts/homestead-inline-webfont.woff2') format('woff2'),  url('../fonts/homestead-inline-webfont.woff') format('woff');

	font-weight: normal;

	font-style: normal;

}

body {

	margin: 0px;

	padding: 0px;

	font-family: 'Barlow', sans-serif;

	overflow-x: hidden;

}

img{    max-width: 100%;height: auto;}

html {

	margin: 0px;

	padding: 0px;

}

a:link {

	text-decoration: none;

}

a:visited {

	text-decoration: none;

}

a:active {

	text-decoration: none;

}

a:hover {

	text-decoration: none;

}

h1, h2, h3, h4, h5, h6 {

	margin: 0px;

	padding: 0px;

}

p {

	margin: 15px 0px;

	font-size: 15px;

	line-height: 26px;

	padding: 0px 0;

	color: #333333;

	font-family: 'Barlow', sans-serif;

	font-weight: 500;

}

h1 {

	margin: 15px 0px;

	font-size: 100px;

	font-weight: 400;

	padding: 0px 0;

	font-family: 'as_signwriterregular';

	color: #a82973;

}

h1 span {

	font-family: 'Barlow', sans-serif;

	display: block;

	font-size: 20px;

	color: #fff;

	font-weight: 400 !important;

	text-transform: uppercase;

}

.img-full {

	width: 100%;

}

#preloader {

	position: fixed;

	top: 0;

	left: 0;

	right: 0;

	bottom: 0;

	background-color: #f8eada; /* change if the mask should have another color then white */

	z-index: 9999999; /* makes sure it stays on top */

}

#status {

	width: 300px;

	height: 300px;

	position: absolute;

	left: 50%; /* centers the loading animation horizontally one the screen */

	top: 50%; /* centers the loading animation vertically one the screen */

	background-image: url(https://loading.io/spinners/typing/lg.-text-entering-comment-loader.gif); /* path to your loading animation */

	background-repeat: no-repeat;

	background-position: center;

	margin: -100px 0 0 -130px; /* is width and height divided by two */

}

.top-banner {

	width: 100%;

	position: relative;

	background: url(../images/banner-new_01.jpg) no-repeat center;

	padding: 6% 0;

	background-size: cover;

	overflow: hidden;

	min-height: 800px;

}

.top-banner-inner {

	width: 100%;

	position: relative;

	background: url(../images/inner-banner.jpg) no-repeat center;

	padding: 2% 0;

	background-size: cover;

	overflow: hidden;

}

#menu{box-shadow: 10px -20px 34px -20px rgba(0,0,0,0.20);}

.top-banner-inner .logo {

	width: 250px;

	margin: 0px auto;

}

.elmnt-new1 {

	position: absolute;

	left: 29vw;

	top: 7vw;

}

.elmnt-new2 {

	position: absolute;

	left: 14vw;

	top: 9vw;

}

.elmnt-new3 {

	position: absolute;

	left: 32vw;

	top: 16vw;

}

.elmnt-new4 {

	position: absolute;

	left: 22vw;

	top: 9vw;

}

.elmnt-new5 {

	position: absolute;

	left: 22vw;

	top: 14vw;

}

.elmnt2 {

	position: absolute;

	right: 27vw;

	top: 8vw;

}

.elmnt03 {

	position: absolute;

	right: 21vw;

	top: 21vw;

}

.elmnt3 {

	position: absolute;

	right: 35vw;

	top: 20vw;

}

header {

	padding: 20px 0px;

	width: 100%;

	float: left;

}

.logo {

	display: block;

	max-width: 100%;

	margin: 0px auto;

}

.logo img {

	width: 100%;

}

.banner-caption {

	width: 100%;

	padding: 15vw 0 0 0;

}

.content {

	padding: 60px 0px;

}

.center-p {

	text-align: center !important;

}

.top1-sec {

	width: 100%;

	background: #efd12d;

	padding: 100px 0px;

	background-size: cover;

	position: relative;

}

.top1-sec-inner {

	position: absolute;

	background-image: url(../images/sec1-inner.png);

	background-repeat: repeat;

	height: 100%;

	animation: slide linear infinite;

	animation-duration: 60s;

	top: 0;

	left: 0;

	width: 6000px;

	opacity: 0.8;

}

@keyframes slide {

 0% {

 transform: translate3d(0, 0, 0);

}

 100% {

 transform: translate3d(-3000px, 0, 0);

}

}

.top1-sec:after {

	width: 100%;

	background: url(../images/yellow-top.png) no-repeat;

	background-size: 100% 100%;

	position: absolute;

	left: 0;

	top: -26px;

	content: '';

	height: 40px;

	z-index: 99999;

}

.top1-sec:before {

	width: 100%;

	background: url(../images/yellow-bottom.png) no-repeat bottom;

	background-size: 100% 100%;

	position: absolute;

	left: 0;

	bottom: -26px;

	content: '';

	height: 40px;

	z-index: 99999;

}

.top1-sec .upar {

	text-transform: uppercase;

}

.box {

	position: relative;

	background: #f0f0f0;

	display: inline-block;

	cursor: pointer;

	border: 8px solid #fff;

	border-radius: 8px;

}

.box span {

	position: absolute;

	display: block;

	background: #bc466d;

	transition: all 0.125s linear;

}.food .info-box.info-box-addto.added span {

    color: #a41772;

}



 

.box .top, .box .bottom {

	width: 100%;

	height: 10px;

	-webkit-transform: scaleX(0);

	transform: scaleX(0);

}

.box .left, .box .right {

	width: 10px;

	height: 100%;

	-webkit-transform: scaleY(0);

	transform: scaleY(0);

}

.box .top {

	top: 0;

	left: 0;

	transition-delay: 0.375s;

	-webkit-transform-origin: top left;

	transform-origin: top left;

}

.box .right {

	top: 0;

	right: 0;

	transition-delay: 0.25s;

	-webkit-transform-origin: top left;

	transform-origin: top left;

}

.box .bottom {

	bottom: 0;

	right: 0;

	transition-delay: 0.125s;

	-webkit-transform-origin: top right;

	transform-origin: top right;

}

.box .left {

	top: 0;

	left: 0;

	-webkit-transform-origin: bottom left;

	transform-origin: bottom left;

}

.box:hover .top {

	transition-delay: 0s;

}

.box:hover .right {

	transition-delay: 0.125s;

}

.box:hover .bottom {

	transition-delay: 0.25s;

}

.box:hover .left {

	transition-delay: 0.375s;

}

.box:hover .top, .box:hover .bottom {

	-webkit-transform: scaleX(1);

	transform: scaleX(1);

}

.box:hover .left, .box:hover .right {

	-webkit-transform: scaleY(1);

	transform: scaleY(1);

}

.wht-we-offer {

	width: 100%;

	background: url(../images/sec2.jpg) no-repeat center;

	padding: 100px 0px;

	background-size: cover;

	text-align: center;

	position: relative;

	z-index: 1;

}

.book-slide-1 {

	width: 100%;

	background: url(../images/book-slide1.png) no-repeat;

	background-size: 100%;

	text-align: center;

	padding: 0 0 50px 5px;

	margin-top: 20px;

}

.book-slide-2 {

	width: 100%;

	background: url(../images/book-slide2.png) no-repeat;

	background-size: 100%;

	text-align: center;

	padding: 20px 0 50px 0;

}

.book-slide-box {

	text-align: center;

}

.book-slide-box:nth-child(2) {

	text-align: center;

	padding: 0 30px 0 0;

}

.book-slide-box img {

	width: 97%;

	height: 200px;

}

.book-slide-box h4 {

	text-align: center;

	color: #333333;

	font-family: 'as_signwriterregular';

	font-size: 25px;

	margin: 10px 0px;

}

.book-slide-box p {

	color: #999999;

	margin: 0px;

	padding: 0px;

	font-size: 14px;

	line-height: 22px;

	min-height: 85px;

}

.book-slide-box a {

	font-size: 13px;

	color: #fff;

	background: url(../images/read-btn.png) no-repeat;

	display: table;

	margin: 10px auto;

	padding: 10px 0px;

	text-align: center;

	width: 123px;

	font-family: 'as_signwriterregular';

}

.book-slide-box a:hover {

	color: #000;

}

.tents-sec {

	width: 100%;

	background: url(../images/sec3.jpg) no-repeat center;

	padding: 6% 0px 20% 0;

	background-size: cover;

	text-align: center;

	position: relative;

	height: 100%;

}

.tents-sec:after {

	width: 100%;

	background: url(../images/white-top.png) no-repeat;

	background-size: 100% 100%;

	position: absolute;

	left: 0;

	top: -26px;

	content: '';

	height: 40px;

	z-index: 99999;

}

.tents-sec h1 {

	color: #db4b89;

}

.tents-sec h2 {

	font-family: 'homesteadinline';

	color: #f8d325;

	font-size: 104px;

	line-height: 0px;

	text-transform: uppercase;

	margin: -5px 0 40px 0;

}

.tents-sec p {

	font-size: 18px;

}

.events-sec {

	width: 100%;

	background: url(../images/sec4.jpg) no-repeat;

	padding: 6% 0px 25% 0;

	background-size: cover;

	height: 100%;

	position: relative;

	z-index: 1;

}

.events-sec h1 {

	color: #db4b89;

}

.events-sec h2 {

	font-family: 'homesteadinline';

	color: #fff;

	font-size: 104px;

	line-height: 0px;

	text-transform: uppercase;

	margin: -5px 0 40px 0;

}

.events-sec .green-btn {

	margin: 15px 0px;

}

.green-btn  {

	font-size: 23px;

	color: #fff;

	background: url(../images/green-btn.png) no-repeat;

	display: table;

	margin: 15px auto;

	padding: 20px 0px;

	text-align: center;

	width: 225px;

	font-family: 'as_signwriterregular';

}

.login-btn {

	font-size: 23px;

	color: #fff;

	background: url(../images/login-btn.png) no-repeat;

	display: table;

	padding: 0;

	height: 50px;

	margin: -20px 0 0 0;

	width:  100px;

	text-align: center;

	font-family: 'as_signwriterregular';

	padding:  5px 0 0 0;

}

.green-btn:hover ,.login-btn:hover {

	color: #f8d325;

}



.bottom-testi-sec {

	width: 100%;

	padding: 50px 0px;

	position: relative;

	z-index: 5;

	background: #fff;

}

.bottom-testi-sec:after {

	width: 100%;

	background: url(../images/white-top.png) no-repeat;

	background-size: 100% 100%;

	position: absolute;

	left: 0;

	top: -26px;

	content: '';

	height: 40px;

	z-index: 99999;

}

.testi-inner {

	margin: 25% auto 0px auto;

	border-radius: 15px;

	text-align: center;

	width: 90%;

}

.testi-inner h1 {

	color: #db4b89;

	font-size: 31px;

}

.testi-inner h2 {

	font-family: 'homesteadinline';

	color: #db4b89;

	font-size: 100px;

	line-height: 60px;

	text-transform: uppercase;

	margin: 0;

}

.carousel-indicators {

	bottom: -40px;

}

.testi-inner img {

	display: block;

	width: 68px;

	height: 68px;

	margin: 15px auto;

	border-radius: 50%;

}

.testi-inner h3 {

	color: #333333;

	font-size: 19px;

	text-transform: capitalize;

	text-align: center;

	margin: 30px 0px 15px 0px;

	font-weight: 600;

}

.testi-inner p {

	color: #999999;

}

.testi-inner .carousel-indicators .active {

	width: 15px;

	height: 15px;

	margin: 0;

	background-color: #c4c4c4;

}

.testi-inner .carousel-indicators li {

	display: inline-block;

	width: 15px;

	height: 15px;

	margin: 1px;

	text-indent: -999px;

	cursor: pointer;

	background-color: #3a3b3b;

	border: none !important;

	border-radius: 10px;

}

.bottom-testi-sec h4 {

	color: #1e9ec5;

	font-size: 50px;

	text-transform: capitalize;

	margin: 30px 0px;

	font-weight: 600;

}

.footer {

	width: 100%;

	background: url(../images/footer.jpg) no-repeat top;

	padding: 0;

	background-size: cover;

	position: relative;

	z-index: 1;

}

.footer-logo {

	max-width: 100%;

	display: block;

	margin: 50px auto 20px auto;

}

.footer-social {

	display: block;

	margin: 25px 0px;

	text-align: center;

}

.footer-social a {

	font-size: 18px;

	color: #2e91a9;

	display: inline-block;

	margin: 5px;

	width: 30px;

	height: 30px;

	border-radius: 50%;

	background: #fff;

	text-align: center;

	padding: 3px 0 0 0;

	color: #1c1208;

}

.footer-social a:hover {

	color: #e5cf2c;

}

.footer ul {

	list-style-type: none;

	display: block;

	margin: 0px;

	padding: 0px;

	text-align: center;

}

.footer ul li {

	list-style-type: none;

	display: inline-block;

	margin: 0px;

	padding: 0px 10px;

}

.footer ul li a {

	font-size: 15px;

	color: #fff;

	text-decoration: none;

	font-weight: 400;

}

.footer ul li a:hover {

	color: #ccc;

}

.footer-bottom {

	width: 100%;

	padding: 15px 0px;

	border-top: 1px solid #4d3f30;

}

.footer-bottom p {

	font-size: 14px;

	color: #fff;

	text-align: center;

	font-weight: 300;

}

.menu-h1 {

	color: #a12a6e !important;

	margin-left: 15px;

}

.menu-boxs {

	/* margin-bottom: 20px; */

	position: relative;

	text-align: center;

}

.menu-boxs img {

	width: 100%;

	display: block;

	border-radius: 5px;

	padding-bottom: 13px;

}

.menu-boxs h5 {

	font-size: 18px;

	text-transform: uppercase;

	color: #db4b89;

	margin: 15px 0px;

	padding: 0px;

}

.menu-boxs p {

	font-size: 14px;

	color: #333333;

	line-height: 19px;

	min-height: 60px;

}

#tabs li:last-child {

    border: 0;

}



#tabs h5 {

    border-top-right-radius:  5px;

    border-top-left-radius: 5px;

}

#tabs {

	background: #f2f1f0;

	border-radius: 5px;

}

#tabs h5{

	background: #a12a6e;

	color:#fff;

	font-size:16px;

	text-transform:uppercase;

	padding:25px 15px;

}

#tabs ul {

	list-style-type: none !important;

	padding: 0 !important;

	margin: 0px !important;

}

#tabs li {

	list-style-type: none !important;

	display: block;

	background: none !important;

	padding:15px 15px !important;

	border-bottom:1px solid #bdbdbd;



}



#tabs a {

	color: #666666;

	text-decoration: none;

	font-size:16px;

	text-transform:uppercase;

}

#tabs a:hover, #tabs a:hover::after, #tabs a:focus, #tabs a:focus::after {

	color: #17a049;

}

#tabs a:focus {

	outline: 0;

}

#tabs a::after {

	content: '';

	position: absolute;

	z-index: 1;

	top: 0;

	right: -.5em;

	bottom: 0;

}

#tabs #current a {

	color:#17a049;

}

#tabs #current a::after {

	background: #399ecd;

	z-index: 3;

	color: #fff;

}

#content-tabs {

	padding: 0px;

	position: relative;

	z-index: 2;

}



/*===================================================about start here===============================================*/



:root{

	--box:14px 17px 5px 0px rgba(0,0,0,0.50);

}

.about #menu{min-height: 60px;}

.about-top1-sec {position: relative;background-image: url(../images/about-banner.png);background-repeat: no-repeat;padding: 130px 0 170px 0;background-size: cover;position: relative;}

.about h1 {color: #a82973;}

.about-top1-sec:after {

    width: 100%;

    background: url(../images/yellow-top.png) no-repeat;

    background-size: 100% 100%;

    position: absolute;

    left: 0;

    top: -16px;

    content: '';

    height: 40px;

    z-index: 99999;

}

.about .box {margin: 70px 0 0 0;box-shadow:  var(--box);}

/*===================================================about end here===============================================*/



/*============================================== cart start here======================*/

 

.cart a.btn.green-btn {text-transform: capitalize;}

.cart .container {

    padding-left:  0px;

    padding-right:  0px;

}



/*checkout step-1 start here*/





@media (min-width: 768px) {

	.cart .checkout .cart-block > div:nth-child(4) {}

 

    .checkout .white-block {

        padding: 30px;

    }

    .checkout .cart-block {

        display: table;

        width: 100%;

        margin-bottom: 0;

    }

    .checkout .cart-block.cart-block-header {

        display: table;

        padding: 15px;

    }

    .checkout .cart-block.cart-block-header > div {

        padding: 0;

        font-size:  22px;

        color:  white;

        text-transform:  uppercase;

        font-weight: 600;

    }

    .checkout .cart-block.cart-block-footer .form-coupon {

        position: absolute;

        top: 0;

    }

    .checkout .cart-block > div {

        display: table-cell;

        vertical-align: middle;

    }

    .checkout .cart-block > div img {

        width: 100%;

        vertical-align: middle;

    }

    .checkout .cart-block > div:nth-child(1) {

        width: 15%;

    }

    .food .checkout .cart-block > div:nth-child(2) {

        width: 45%;

        color: #9a9a9a;

    }

    .checkout .cart-block > div:nth-child(3) {

        width: 10%;

    }

    .checkout .cart-block > div:nth-child(4) {

        width: 30%;

    }

    .checkout .cart-block > div.quantity, .checkout .cart-block > div.price {

        float: none;

    }

    .checkout .cart-block > div.quantity {

        text-align: center;

    }

    .food .checkout .cart-block .title {

        padding: 0 0 0 20px;

        text-align: start;

    }

    .checkout .cart-block .title > * {

        margin: 0;

    }

    .checkout .cart-block .price {

        padding-right: 30px;

    }

    .checkout .cart-block .price > span {

        display: block;

        text-align: right;

    }

    .checkout .cart-block .price .final {

        margin: 0;

    }

    .checkout .cart-block .price .discount {

        text-decoration: line-through;

    }

    .checkout .cart-block .form-control {

        text-align: center;

    }

}



@media (max-width: 767px) {

	.checkout .cart-block.cart-block-header{display: none;}

    .checkout .cart-block {

        padding-bottom: 15px;

    }

    .checkout .cart-block > div {

        padding: 0 10px;

    }

    .checkout .cart-block .title {

        margin-bottom: 15px;

    }

    .checkout .cart-block .form-control {

        height: 30px;

    }

    .checkout .cart-block.cart-block-footer {

        color: black;

    }

    .checkout .cart-block.cart-block-footer > div {

        float: left;

    }

    .checkout .cart-block.cart-block-footer .form-coupon {

        margin-top: 10px;

        margin-left: 0;

    }

}

/*checkout step-1 end here*/

/*checkout step-2 start here*/





.cart-2 .white-block p {

    font-size: 17px;

    color:  #8d8d8d;

    font-weight: 400;

}



.cart-2 ul {

    color: #8d8d8d;

}



.cart-2 ul li {

    font-size: 15px;

}



.cart-2 .login-wrapper input {

    height: 50px;

}



.cart-2 strong {font-weight: 400;}



.cart-2 .checkbox label.l1, .cart-3 .checkbox label.l1, .cart-4 .checkbox label.l1 {

    margin: 0 0 0 0;

    text-transform: capitalize;

    font-size: 18px !important;

    color: #666666 !important;

    padding: 0 !important;

    font-weight: 600 !important;

}

/*  

    ----------------------------------

    34. Login wrapper

    ----------------------------------

*/

.login-wrapper.login-wrapper-page {

    background-color: #eeeeee;

    padding: 40px 0;

}



.login-wrapper .white-block {

    background-color: white;

    padding: 20px 15px;

    margin-bottom: 15px;

}



@media (min-width: 768px) {

    .login-wrapper .white-block {

        padding: 30px;

    }

}



.login-wrapper .login-block .row {

    margin-left: -5px;

    margin-right: -5px;

}



.login-wrapper .login-block .row > div {

    padding-left: 5px;

    padding-right: 5px;

}



.login-wrapper .login-block.login-block-signin {

    display: none;

}



.login-wrapper .login-block.login-block-signup {

    display: block;

}



/*checkout step-2 end here*/

/*checkout step-3 start here*/





.cart-3 small {

    font-size: 14px;

    font-weight: 400;

}



.cart-3 strong {font-size: 17px;color: #64635f;font-weight: 400;}



.cart-3 .checkbox input[type="radio"]:checked + label:before {

    background:  #17a049;

    border:  #17a049;

}



.cart-3 .checkbox input[type="radio"]:checked + label:before {

    padding: 0px 0 0 8px;

}



.cart-3 span .checkbox input[type="radio"]: checked + label:before{font-size: 17px;}



/*checkout step-3 end here*/





/*checkout step-4 end here*/

 

.cart-3 .white-block span, .cart-4 .white-block span {font-size: 17px;color: #64635f;font-weight: 400;}

.cart-4 span.h2.title {color:  #efd12d;text-transform:  uppercase;}



.cart-4 a.btn.btn-main.green-btn {margin: 0;}



/*checkout step-4 end here*/



.note-block {}

.cart-2 .h4, .cart-3 .h4,.cart-4 .h4 {font-size:  25px;font-weight: 600;color: #786e69;}

.cart-2 a.btn.btn-main.btn-block {background:  #17a049;border-radius: 40px;color:  white;height: 50px;font-size:  16px;font-weight: 600;padding: 10px 0 0 0;}

.cart-2 a.btn.btn-main.btn-block:hover{background:#1d9148;}

.cart-main{}

.cart-main #menu{min-height: 70px;}

.cart{background: url('../images/cart.png')no-repeat;-webkit-background-size: cover;background-size: cover;padding: 50px 0 100px 0;}

.cart .checkout .cart-wrapper {margin: 15px 0;background: white;border-radius:  10px; box-shadow:var(--box);}

.cart .cart-info {padding: 0 50px 60px 50px;}

.cart .btn.green-btn {margin: 0;padding: 20px 0;}

.cart a.btn.btn-main.green-btn {float: right;background-color: transparent;padding:  16px 0;}

.cart a.btn.btn-main.green-btn:hover {color: #efd12d;}

.cart h1 {text-transform: capitalize;color:  white;}

.cart .de {margin: 30px 0 0 0;}





/*  

    ----------------------------------

    32. Checkout

    ----------------------------------

*/

.cart .checkout {

    padding-top: 15px;

    padding-bottom: 15px;

}



@media (min-width: 992px) {

    .cart .checkout {

        padding-top: 20px;

        padding-bottom: 60px;

    }

}



@media (max-width: 767px) {

	.cart .checkout .cart-block > div img {display: block;margin: 0 auto;height: 200px !important;width: 200px !important;}

	.quantity {margin: 5px 0 0 0;}

	.cart .checkout .cart-block > div:nth-child(4) {margin: 0 0 0 0 !important;}

    .cart .checkout {

        padding-left: 15px;

        padding-right: 15px;

    }

}



.cart .checkout hr {

    border-color: #e0e0e0;

}



.cart .checkout .cart-wrapper {

    margin: 15px 0;

}



@media print {

    .cart .checkout .cart-wrapper {

        border-top: 1px solid #e0e0e0;

        border-bottom: 1px solid #e0e0e0;

    }

    .cart .checkout .cart-wrapper + .cart-wrapper {

        border-top: 0;

    }

}



.cart .checkout .white-block {

    background-color: white;

    padding: 20px 15px;

    margin-bottom: 15px;

}



.cart .checkout .note-block {

    background-color: white;

}



.cart .checkout .title {

    margin: 0;

}



.cart .checkout .cart-block {

    position: relative;

    margin-bottom: 15px;

}



.cart .checkout .cart-block:last-child {

    margin-bottom: 0;

}









.cart .checkout .cart-block.cart-block-header {

    display: none;

    background-color: #efd12d;

    border-top-right-radius: 10px;

    border-top-left-radius: 10px;

}



.cart .checkout .cart-block.cart-block-item {

    background-color: white;

}



.cart .checkout .cart-block.cart-block-footer {

    color: black;

    margin-top: 1px;

    background-color: white;

    padding: 15px 30px;

}



.cart .checkout .cart-block.cart-block-footer.cart-block-footer-price {

    padding: 30px 30px;

    background-color: white;

}



.cart .checkout .cart-block.cart-block-footer > div {

    padding: 0;

}



.cart .checkout .cart-block.cart-block-footer > div:nth-child(1), .checkout .cart-block.cart-block-footer > div:nth-child(2) {

    width: 50%;

}



.cart .checkout .cart-block.cart-block-footer > div:nth-child(2) {

    text-align: right;

}



.cart .checkout .cart-block.cart-block-footer .form-coupon {

    display: inline-block;

    width: inherit;

    margin-left: 10px;

    text-align: left;

}



.cart .checkout .cart-block > div {

    padding: 0 30px;

}



.cart .checkout .cart-block > div img {

    width: 100%;

    vertical-align: middle;

}



.cart .checkout .cart-block > div.image {

    padding: 0;

}



.cart .checkout .cart-block > div.quantity, .checkout .cart-block > div.price {

    width: 50%;

    float: left;

}



.cart .checkout .cart-block > div.quantity .form-quantity {

    display: inline-block;

    width: 80px;

    margin:  0;

}



.cart .checkout .cart-block .title > * {

    margin: 0;

}



.cart .checkout .cart-block .price > span {

    display: block;

    text-align: right;

}



.cart .checkout .cart-block .price .final {

    margin: 0;

}



.cart .checkout .cart-block .price .discount {

    text-decoration: line-through;

}



.cart .checkout .cart-block .icon-delete {

    position: absolute;

    cursor: pointer;

    padding: 5px;

    right: 0;

    top: 0;

    -moz-transition: all 0.3s;

    -o-transition: all 0.3s;

    -webkit-transition: all 0.3s;

    transition: all 0.3s;

}



.cart .checkout .cart-block .icon-delete:hover {

    -moz-transform: rotate(90deg);

    -ms-transform: rotate(90deg);

    -o-transform: rotate(90deg);

    -webkit-transform: rotate(90deg);

    transform: rotate(90deg);

}



@media (min-width: 768px) {

    .cart .checkout .white-block {

        padding: 30px;

    }

    .cart .checkout .cart-block {

        display: table;

        width: 100%;

        margin-bottom: 1px;

    }

    .cart .checkout .cart-block.cart-block-header {

        display: table;

        padding: 15px;

    }

    .cart .checkout .cart-block.cart-block-header > div {

        padding: 0;

    }

    .cart .checkout .cart-block.cart-block-footer .form-coupon {

        position: absolute;

        top: 0;

    }

    .cart .checkout .cart-block > div {

        display: table-cell;

        vertical-align: middle;

    }

    .cart .checkout .cart-block > div img {

        width: 100%;

        vertical-align: middle;

    }

    .cart .checkout .cart-block > div:nth-child(1) {

        width: 15%;

    }

    .cart .checkout .cart-block > div:nth-child(2) {

        width: 40%;

    }

    .cart .checkout .cart-block > div:nth-child(3) {

        width: 10%;

    }

    .cart .checkout .cart-block > div:nth-child(4) {

        width: 100%;

        margin: 60px 0 0 0;

    }

    .cart .checkout .cart-block > div.quantity, .checkout .cart-block > div.price {

        float: none;

    }

    .cart .checkout .cart-block > div.quantity {

        text-align: center;

    }

    .cart .checkout .cart-block .title {

        padding: 0 0 0 60px;

    }

    .cart .checkout .cart-block .title > * {

        margin: 0;

    }

    .cart .checkout .cart-block .price {

        padding-right: 30px;

    }

    .cart .checkout .cart-block .price > span {

        display: block;

        text-align: right;

    }

    .cart .checkout .cart-block .price .final {

        /* margin: 0; */

        color:  #db4b89;

    }

    .cart .checkout .cart-block .price .discount {

        text-decoration: line-through;

    }

    .cart .checkout .cart-block .form-control {

        text-align: center;

    }

}



@media (max-width: 767px) {

    .cart .checkout .cart-block {

        padding-bottom: 15px;

    }

    .cart .checkout .cart-block > div {

        padding: 0 10px;

    }

    .cart .checkout .cart-block .title {

        margin-bottom: 15px;

    }

    .cart .checkout .cart-block .form-control {

        height: 30px;

    }

    .cart .checkout .cart-block.cart-block-footer {

        color: black;

    }

    .cart .checkout .cart-block.cart-block-footer > div {

        float: left;

    }

    .cart .checkout .cart-block.cart-block-footer .form-coupon {

        margin-top: 10px;

        margin-left: 0;

    }

}







/*  

    ----------------------------------

    32. Checkout

    ----------------------------------

*/

.checkout {

    padding-top: 15px;

    padding-bottom: 15px;

}



@media (max-width: 992px) {

    .checkout {

        padding-top: 60px;

        padding-bottom: 60px;

    }

}



@media (max-width: 767px) {

    .checkout {

        padding-left: 15px;

        padding-right: 15px;

    }

}



 



.checkout .cart-wrapper {

    margin: 15px 0;

}



@media print {

    .checkout .cart-wrapper {

        border-top: 1px solid #e0e0e0;

        border-bottom: 1px solid #e0e0e0;

    }

    .checkout .cart-wrapper + .cart-wrapper {

        border-top: 0;

    }

}



.checkout .white-block {

    background-color: white;

    padding: 20px 15px;

    margin-bottom: 15px;

}



.checkout .note-block {

    background-color: white;

    padding: 30px 50px 50px 50px;

    border-radius:  20px;

    margin: 30px 0 40px 0;

}



.checkout .title {

    margin: 0;

}



.checkout .cart-block {

    position: relative;

    border-bottom: 1px solid #dddddd;

    margin-bottom: 15px;

}



.checkout .cart-block:last-child {

    margin-bottom: 0;

}



.checkout .cart-block.cart-block-header {

    

background-color: #efd12d;

    

padding: 30px 70px !important;

    

border-radius: 10px;

    

margin: 0 0 30px 0;

}



.checkout .cart-block.cart-block-item {

    background-color: white;

    padding: 37px 0 30px 0;

}



.checkout .cart-block.cart-block-footer {

    color: black;

    background-color: white;

    padding: 35px 30px;

}

.checkout .cart-block .title {

}



.checkout .cart-block .title .h4 a {

    font-size:  22px;

    color: #db4b89;

    text-transform:  uppercase;

}



.checkout .cart-block .title {

    font-size: 20px;

    font-weight: 500;

}



/*input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {

    -webkit-appearance: none;

    margin: 0;

}



input[type=number] {

    -moz-appearance: textfield;

}*/



.checkout .cart-block.cart-block-footer.cart-block-footer-price {

    padding: 30px 30px 30px 30px;

    border:  0;

    background-color: white;

}



.checkout .cart-block.cart-block-footer > div {

    padding: 0;

}

.cart .dis {

    margin:  40px 0 0 0;

}



.checkout .cart-block.cart-block-footer strong {

    font-size:  18px;

    font-weight: 600;

    color:  #666666;

}



.checkout .cart-block.cart-block-footer span {

    font-size:  18px;

    color:  #666666;

}



.cart-block.cart-block-footer.cart-block-footer-price.clearfix .h2.title {

    color: #c74570;

    font-size:  30px;

    font-weight: 600;

}

.checkbox {

    margin: 0;

    padding: 5px 0;

}



.checkbox label {

    padding-left: 35px;

    line-height: 1.8;

    color: #8d8d8d;

    font-size: 17px;

}



.checkbox label a {

    color: #8b8b8b;

    text-decoration: underline;

}



.checkbox label a:hover {

    color: #2e73bb;

}





.checkbox input[type="checkbox"], .checkbox input[type="radio"] {

    display: none;

}



.checkbox input[type="checkbox"] + label:before,

.checkbox input[type="radio"] + label:before {

    font-family: 'LinearIcons';

    content: "";



    line-height: 22px;

    font-size: 16px;

    position: absolute;

    border: 1px solid #bbc4c7;

    display: inline-block;

    height: 25px;

    width: 25px;

    padding: 0;

    left: 0;

    -moz-border-radius: 100%;

    -webkit-border-radius: 100%;

    border-radius: 100%;

    -moz-transform: scale(0.8);

    -ms-transform: scale(0.8);

    -o-transform: scale(0.8);

    -webkit-transform: scale(0.8);

    transform: scale(0.8);

    -moz-transition: all 0.2s;

    -o-transition: all 0.2s;

    -webkit-transition: all 0.2s;

    transition: all 0.2s;

    top: 10px;

}



.checkbox input[type="checkbox"]:checked + label:before,

.checkbox input[type="radio"]:checked + label:before {

    background: #17a049;

    color: white;

    border-color: #17a049;

    text-align: center;

    -moz-transform: scale(0.8);

    -ms-transform: scale(0.8);

    -o-transform: scale(0.8);

    -webkit-transform: scale(0.8);

    transform: scale(0.8);

}



.checkbox input[type="checkbox"]:checked + label:before {

    content: "\e870";

}



.checkbox input[type="radio"]:checked + label:before {

    content: "";

    line-height: 16px;

    font-size: 30px;

    padding: 0px 0 0 7px;

    display: list-item;

    list-style: disc;

    list-style-position: inside;

}



.checkbox input[type="checkbox"]:checked + label:after,

.checkbox input[type="radio"]:checked + label:after {

    font-weight: bold;

}





label {}



.checkout .cart-block.cart-block-footer label {

    margin: 0 0 0 0;

    color: #8d8d8d;

    font-size: 17px;

}



.checkout .cart-block.cart-block-footer > div:nth-child(1), .checkout .cart-block.cart-block-footer > div:nth-child(2) {

    width: 50%;

}



.checkout .cart-block.cart-block-footer > div:nth-child(2) {

    text-align: right;

}



.checkout .cart-block.cart-block-footer .form-coupon {

    display: inline-block;

    width: inherit;

    margin-left: 10px;

    text-align: left;

}



.checkout .cart-block > div {

    padding: 0 0;



}



.checkout .cart-block > div img {

    width: 100%;

    vertical-align: middle;

}





.checkout .cart-block > div.image {

    padding: 0;

}



.checkout .cart-block > div.quantity, .checkout .cart-block > div.price {

    width: 50%;

    float: left;

}



.checkout .cart-block > div.quantity .form-quantity {

    display: inline-block;

    font-size:  20px;

    font-weight: 500;

    width:  77px;

    height: 50px;

    float:  left;

    margin: 50px 0 0 0;

}



.checkout .cart-block .title > * {

    margin: 0;

}



.checkout .cart-block .price > span {

    display: block;

    text-align: right;

}



.food .checkout .cart-block .price .final {

    margin: 0;

    color: #6f6f6f;

    margin: 10px 0 0 0;

}



.food .checkout .cart-block .price .discount {

    text-decoration: line-through;

    color:  #9a9a9a;

}



.checkout .cart-block .icon-delete {

    position: absolute;

    cursor: pointer;

    padding: 5px;

    right: 0;

    top: 0;

    -moz-transition: all 0.3s;

    -o-transition: all 0.3s;

    -webkit-transition: all 0.3s;

    transition: all 0.3s;

}



.checkout .cart-block .icon-delete:hover {

    -moz-transform: rotate(90deg);

    -ms-transform: rotate(90deg);

    -o-transform: rotate(90deg);

    -webkit-transform: rotate(90deg);

    transform: rotate(90deg);

}



/*============================================== cart end here======================*/



/*============================================== food start here======================*/

.owl-carousel .owl-item img {

    height: 445px !important;

}



.mfp-auto-cursor .mfp-content a:hover {



    background: #a82973 !important;

    border:  0;

}

.product-image img:hover {

    opacity:  0.6;

    transition:  0.3s ease-in-out;

}



.food .info-box.info-box-addto span:hover {

    color: #a41772;

}



.food ul.nav.nav-tabs a i {font-size: 16px;}

.cart-block.cart-block-footer.clearfix {}



.food .cart-wrapper .checkout .cart-block.cart-block-footer .h4.title {

    text-align:  end;

    font-size:  20px;

    color: black;

    font-weight: 600;

}

 



.cart-main.cart-2.cart-3.cart-4 .de a:first-child {

    padding: 19px 0;

}



.food .checkout .cart-block.cart-block-footer span {

    color: black;

}



.food .btn.btn-clean-dark {

    border-radius: 20px;

    height: 45px;

    float: left;

    padding-top: 11px;

}



.food nav .cart-wrapper .checkout .cart-block > div.quantity .form-control {

    height:  50px;

    margin:  0;

    border-radius:  0;

}

.food .cart-wrapper .checkout .cart-block.cart-block-footer {text-align:  start;}

nav ul.end {

    float:  right;

    margin: -50px 40px 0 0;

}



nav ul.end i {

    color:  #a41772;

}



nav ul.end i span {

    background: #a41772;

}



ul.end .checkout .cart-block .price .final {

    color: black !important;

}



.cart-wrapper.open span.final {

}



.food .cart-block.cart-block-item.clearfix small {

    font-size:  15px;

    font-weight: 400;

    line-height:  15px;

}



.food .cart-block.cart-block-item.clearfix a {

    color: #64676d;

    font-size: 16px;

    font-weight:  400;

}



.food .checkout .cart-block > div.quantity .form-quantity {

    margin: 10px 0 0 0;

    font-size:  16px;

}

.btn.btn-main {

    border-radius: 20px;

    background-color: #a41772;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

    height: 45px;

    padding-top: 10px;

}



.btn.btn-main:hover {

    background-color: #3a3d45;

}



.btn.btn-main, .btn.btn-main:hover, .btn.btn-main:focus, .btn.btn-main:active {

    color: #fff;

}

.btn.btn-clean-dark {

    background-color: transparent;

    border-color: rgba(58, 61, 69, 0.5);

    color: #3a3d45 !important;

    border-radius: 20px;

    height: 45px;

    float:  left;

    padding-top: 11px;

}



.btn.btn-clean-dark:hover {

    background-color: #3a3d45;

    border-color: #3a3d45;

    color: white !important;

}

.food #menu{min-height: 60px;}

.food section.product{background: url(../images/food-details.png)no-repeat;-webkit-background-size: cover;background-size: cover;padding: 112px 0 50px 0;}

.product-image img {float:  right;margin: 42px 20px 0 0;}



nav .cart-wrapper {

    position: absolute;

    width: 100%;

    top: 50px;

    right: 40px;

    padding: 7.5px;

    max-width: 500px;

    background: #eeeeee;

    border: 1px solid #e0e0e0;

    border-top: 0;

    overflow: hidden;

    z-index:  9999999999999999;

}



nav .cart-wrapper .checkout {

    padding: 0 15px;

    opacity: 1;
/*

    -moz-transition-delay: 0.1s;

    -o-transition-delay: 0.1s;

    -webkit-transition-delay: 0.1s;

    transition-delay: 0.1s;

    -moz-transition: all 0.2s;

    -o-transition: all 0.2s;

    -webkit-transition: all 0.2s;

    transition: all 0.2s;

    -moz-transform: translate3d(100%, 0, 0);

    -ms-transform: translate3d(100%, 0, 0);

    -o-transform: translate3d(100%, 0, 0);

    -webkit-transform: translate3d(100%, 0, 0);

    transform: translate3d(100%, 0, 0);
*/

}



nav .cart-wrapper .checkout hr {

    margin-top: 5px;

    margin-bottom: 5px;

}



nav .cart-wrapper .checkout .cart-block {

    padding: 10px;

    margin-bottom: 10px;

}



nav .cart-wrapper .checkout .cart-block > div.quantity {

    padding: 5px 0;

    text-align: left;

}



nav .cart-wrapper .checkout .cart-block > div.quantity .form-control {

    width: 60px;

    height: inherit;

}



nav .cart-wrapper .checkout .cart-block > div.price {

    padding-right: 10px;

}



nav .cart-wrapper .checkout .cart-block.cart-block-footer {

    padding: 5px 0;

    margin: 0;

    margin-bottom: 3px;

    width: 100%;

    background-color: transparent;



}



nav .cart-wrapper .checkout .cart-block.cart-block-footer > div {

    float: left;

    padding: 0;

}



nav .cart-wrapper .checkout .cart-block .icon-delete {

    padding: 2px;

}



nav .cart-wrapper .checkout .cart-block-buttons {

    margin: 20px 0;

}



nav .cart-wrapper.open .checkout {

    opacity: 1;

/*
    -moz-transition-delay: 0.3s;

    -o-transition-delay: 0.3s;

    -webkit-transition-delay: 0.3s;

    transition-delay: 0.3s;

    -moz-transform: translate3d(0, 0, 0);

    -ms-transform: translate3d(0, 0, 0);

    -o-transform: translate3d(0, 0, 0);

    -webkit-transform: translate3d(0, 0, 0);

    transform: translate3d(0, 0, 0);
*/

}



nav .search-wrapper,

nav .login-wrapper,

nav .cart-wrapper {
	display: none;

/*
    -moz-transition-delay: 0.1s;

    -o-transition-delay: 0.1s;

    -webkit-transition-delay: 0.1s;

    transition-delay: 0.1s;

    -moz-transform: scale(1, 0);

    -ms-transform: scale(1, 0);

    -o-transform: scale(1, 0);

    -webkit-transform: scale(1, 0);

    transform: scale(1, 0);

    -moz-transform-origin: 50% 0;

    -ms-transform-origin: 50% 0;

    -o-transform-origin: 50% 0;

    -webkit-transform-origin: 50% 0;

    transform-origin: 50% 0;

    -moz-transition: all 0.3s;

    -o-transition: all 0.3s;

    -webkit-transition: all 0.3s;

    transition: all 0.3s;
*/

}



nav .search-wrapper.open,

nav .login-wrapper.open,

nav .cart-wrapper.open {

    -moz-transform: scale(1, 1);

    -ms-transform: scale(1, 1);

    -o-transform: scale(1, 1);

    -webkit-transform: scale(1, 1);

    transform: scale(1, 1);

}



@media (max-width: 991px) {

	.cart .checkout .cart-block > div img {

    width: 100px !important;

    height: 100px !important;

    border-radius: 100px;

    border: 10px solid #DDDDDD !important;

}

    nav .search-wrapper,

    nav .login-wrapper,

    nav .cart-wrapper {

        top: 55px;

        border-top: 1px solid #e0e0e0;

    }

}



nav .open-cart span {background-color: #a41772;color: white;position: absolute;width: 15px;height: 15px;line-height: 15px;right: 4px;top: 5%;text-align: center;font-size: 10px;-moz-border-radius: 100%;-webkit-border-radius: 100%;border-radius: 100%;}

section.products .wrapper-more {

    margin: 30px 0 0 0;

}



section.prducts .text p {

    color: white;

}



section.products .text p {

    color:  white;

    font-size:  20px;

    text-transform:  uppercase;

}



section.products h1.title {

    color: #a82973;

    text-transform: capitalize;

    font-weight: 400;

}



section.products {

    margin: 20px 0 0 0;

}

.product .title h2.title.h5 a {

    font-size:  18px;

}



.products h2.title.h5 a {

    font-size:  18px;

    text-transform:  uppercase;

    color: black;

}



h2.title.h5 {}





.products  span {

    font-size:  13px;

    padding:  0 0 0 0;

    font-weight: 600;

}





.products span del {

    padding: 0 20px 0 0;

    font-weight: 600;

}



article {}

.product-inner {

    background:  white;

    box-shadow: var(--box);

    border-radius: 10px;

}

/*  

    ----------------------------------

    23. Brands

    ----------------------------------

*/

.brands {

    position: relative;

    margin-bottom: 20px;

    border: 1px solid #e0e0e0;

}



.brands .box {

    display: table;

    width: 100%;

}



.brands .image {

    background: #ffffff;

    padding: 10px;

    border-bottom: 1px solid #e0e0e0;

}



.brands .image img {

    width: 80%;

    margin: 0 auto;

    display: block;

    border-radius: 100%;

}



.brands .name {

    background-color: #f5f5f5;

    text-align: left;

    padding-left: 15px;

    padding: 20px !important;

}







.brands .name .title {

    margin: 0;

}



.brands .name .title small {

    font-size: initial;

    color: #666;

}



@media (min-width: 992px) {

    .brands {

        margin-right: 15px;

        margin-top: -80px;

    }

    .brands .image {

        padding: 15px;

    }

}

/*  

    ----------------------------------

    25. Comments

    ----------------------------------

*/

.comments {

    display: block;

    background-color: white;

}



.comments h2 {

    font-size: 18px;

}



.comments .fa.active {

    color: #2e73bb;

}



.comments h2 .rating {

    display: inline-block;

}



.comments .rate-box {

    display: block;

    width: 100%;

    background-color: white;

    padding: 20px 30px;

    border: 1px solid #eee;

}



.comments .rate-box strong {

    margin: 0 0 10px 0;

    font-size: 14px;

}



.comments .rate-box .rating {

    padding: 5px 0;

}



@media (min-width: 992px) {

    .comments .rate-box {

        width: 33.333333333%;

        float: left;



    }

}



@media (max-width: 1199px) {

    .comments {

        margin-bottom: 20px;

    }

}



.comments content {

    max-width: 700px;

    display: block;

    margin-left: auto;

    margin-right: auto;

}



.comments .comment-header {

    padding: 20px 0;

    border-top: 1px solid #e0e0e0;

    border-bottom: 1px solid #e0e0e0;

    text-align: center;

}







.comments .comment-header a {

    display: inline-block;

    padding: 0 10px;

}



.comments .comment-block {



    margin-top: 40px;

    margin-bottom: 40px;

    border-bottom: 1px solid #e0e0e0;

    padding-left: 15px;

    padding-right: 30px;

}



.comments .comment-block:last-child,

.comments .comment-block > .comment-block {

    border-bottom: none;

}



.comments .comment-block > .comment-block {

    background-color: #eeeeee;

    border-top: 1px solid rgba(224, 224, 224, 0.5);

    padding-bottom: 20px;

    padding-top: 20px;

}



@media (min-width: 768px) {

    .comments .comment-block {

        padding-left: 40px;

        padding-right: 40px;

    }

    .comments .comment-block > .comment-block {

        margin-left: 50px;

    }

}



.comments .comment-user {

    display: table;



    width: 100%;

}



.comments .comment-user div {

    display: table-cell;

    vertical-align: middle;

    text-align: left;

}



.comments .comment-user div img {

    border-radius: 100%;

    width: 40px;

}



.comments .comment-user div h5 {

    margin: 0;

}



.comments .comment-user div h5 small {

    display: block;

    padding: 4px 0;

}



.comments .comment-user div:first-child {

    width: 50px;

}



.comments .comment-desc {

    margin-left: 50px;

    margin-top: 10px;

}



.comments .comment-add {

    margin-top: 40px;

    padding: 0 20px 20px;

}



.comments .comment-add .comment-reply-message {

    margin-bottom: 15px;

}



.comments .comment-add .comment-reply-message .title {

    margin-bottom: 10px;

}



.comments .comment-add .btn-circle {

    background-color: black;

    color: white;

}







/*  

    ----------------------------------

    20. Product page

    ----------------------------------

*/

.product {

    position: relative;

    padding: 0;

    overflow: hidden;

}



.product .container {

    /* padding-left: 15px; */

    /* padding-right: 15px; */

}



.product .main {

    padding: 20px 0;

}



.product .product-info-wrapper {

    position: relative;

    margin-bottom: 10px;

}



.product .title {

    color: black;

    font-weight: 600;

    position: relative;

}



.nav-tabs {

    border: 0;

}



.nav-tabs > li > a {

    border-radius: 1px;

    background: #f1f1f1;

    border: 0;

    margin-right: 1px;

    padding: 14px 20px;

    border-top-left-radius: 3px;

    color:  #5a5d65;

    border-top-right-radius: 3px;

    font-weight: 600;

}



.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {

    color: black;

}



.nav-tabs > li.active > a {

    background: #e2e2e2;

    color: #000;

    box-shadow: 0 -5px 0px #269f4a;

    border: none;

}





.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {

    border: none;

    background: #e2e2e2;

    color: #000;

    box-shadow: 0 -5px 0px #269f4a;

}



@media (min-width: 992px) {

    .nav-tabs {

        margin-top: -68px;

    }

}





 

.btn.btn-buy {

    background-color: #a82973;

    color: white;

    position: absolute;

    padding: 0;

    right: 10px;

    top: 0;

    width: 80px;

    height: 80px;

    font-size: 25px;

    line-height: 50px;

    text-align: center;

    overflow: hidden;

    -moz-border-radius: 100%;

    -webkit-border-radius: 100%;



    border-radius: 100%;

    z-index: 999999;

}



.btn.btn-buy:after, .btn.btn-buy:before {

    display: block;

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    line-height: 80px;

    -moz-transition: all 0.3s;

    -o-transition: all 0.3s;

    -webkit-transition: all 0.3s;

    transition: all 0.3s;

}



.btn.btn-buy:before {

    font-family: 'LinearIcons';

    content: "\e82e";

    -moz-transform: translate3d(0, 0, 0);

    -ms-transform: translate3d(0, 0, 0);

    -o-transform: translate3d(0, 0, 0);

    -webkit-transform: translate3d(0, 0, 0);

    transform: translate3d(0, 0, 0);

}



.btn.btn-buy:after {

    font-family: "Montserrat",sans-serif;

    text-transform: uppercase;

    font-weight: 600;

    content: attr(data-text);

    -moz-transform: translate3d(0, 100%, 0);

    -ms-transform: translate3d(0, 100%, 0);

    -o-transform: translate3d(0, 100%, 0);

    -webkit-transform: translate3d(0, 100%, 0);

    transform: translate3d(0, 100%, 0);

}



.btn.btn-buy:hover:before {

    font-family: 'LinearIcons';

    content: "\e82e";

    -moz-transform: translate3d(0, 100%, 0);

    -ms-transform: translate3d(0, 100%, 0);

    -o-transform: translate3d(0, 100%, 0);

    -webkit-transform: translate3d(0, 100%, 0);

    transform: translate3d(0, 100%, 0);

}



.btn.btn-buy:hover:after {

    -moz-transform: translate3d(0, 0, 0);

    -ms-transform: translate3d(0, 0, 0);

    -o-transform: translate3d(0, 0, 0);

    -webkit-transform: translate3d(0, 0, 0);

    transform: translate3d(0, 0, 0);

}



.product .title small {

    display: block;

    text-transform: none;

    color: black;

    font-size: 40%;

    margin: 5px 0;

}



.product .price {

    margin: 15px 0 0 0;

}



.product .price small {

    text-decoration: line-through;

    margin-left: 10px;

}



.product .info-box {

    margin-bottom: 2px;

    padding: 5px 0;

    display: table;

    width: 100%;

}



.product .info-box > span {

    display: table-cell;

    vertical-align: middle;

    text-align: left;

}



.product .info-box > span:first-child {

    width: 35%;

}



.product .info-box > span:last-child {

    width: 65%;

}



.product .info-box:last-child {

    margin-bottom: 0;

    padding-bottom: 0;

}



.product .info-box .checked {

    border-color: black;

}



.product .info-box strong {

    display: block;

    font-weight: 500;

}



.product .info-box.info-cell {

    display: table;

    width: 100%;

}



.product .info-box.info-cell > span {

    display: table-cell;

    vertical-align: middle;

}



.product .info-box.info-box-addto {

    cursor: pointer;

}



.product .info-box.info-box-addto i {

    font-style: normal;

}



.product .info-box.info-box-addto .added {

    display: none;

    font-size:  18px;

}



.product .info-box.info-box-addto .add {

    display: block;

    font-size:  18px;

}



.product .info-box.info-box-addto.added .added {

    display: block;

}



.product .info-box.info-box-addto.added .add {

    display: none;

}



.product .product-colors {

    display: block;

}



.product .info-inner {

    background-color: #e2e2e2;

    padding: 20px 76px;

    z-index: 1;

}



.product .info .content {

    padding: 30px 0;

}



.product .info .content hr {

    border-color: #c1c1c1;

}



.product .info .content .full-image {

    width: 100%;

}



.product .info .content h3 {

    position: relative;

    padding-bottom: 20px;





    margin-bottom: 20px;

    font-weight: 600;

    color:  #646464;

}



.product .info .content h3:after {

    background: #269f4a;

    content: "";

    width: 50px;

    height: 1px;

    position: absolute;

    top: 100%;

    left: 0;

}



.product .info .products {

    background-color: transparent;

}



.product .owl-product-gallery.owl-theme .owl-controls .owl-buttons div span {

    background-color: rgba(0, 0, 0, 0.5);

}



@media (min-width: 992px) {

    .product .main {

        padding: 50px 90px;

        margin-bottom: 80px;

    }

    .product .title {

        margin-top: 0;

    }

    .product .product-info-wrapper {

        padding-top: 30px;

        margin-bottom: 50px;

    }

}



@media (max-width: 991px) {

	.food section.product{padding: 30px 0 70px 0;background-position: 0 -40px; background-color: #edd233; }

	.top1-sec #tabs {margin: 0 0 50px 0;}

    .product .product-flex {

        display: flex;

        flex-flow: column;

    }

    .product .product-flex .product-flex-gallery {

        order: 1;

    }

    .product .product-flex .product-flex-info {

        order: 2;

        padding: 0 0 0 65px;

    }

}





/*  

    ----------------------------------

    19. Products category

    ----------------------------------

*/

.products .container {

    background-color: white;

}



.products article {

    position: relative;

    transition: all 0.3s;

    margin-bottom: 1px;

    overflow: hidden;

    margin-left: -1px;

    margin-top: 18px;

}



.products article .label {

    position: absolute;

    top: 10px;

    left: 10px;

    line-height: initial;

}



.products article sub, .products article sup {

    font-size: 100%;

}



.products article .text {

    width: 100%;

    padding: 10px;

}



.products article .text a:hover {

    color: #333;

}



.products article .text .title {

    display: block;

    margin: 0 0 5px 0;

    white-space: nowrap;

    text-overflow: ellipsis;

    overflow: hidden;

}



.products article .text sub, .products article .text sup {

    bottom: auto;

    top: auto;

    display: inline-block;

    margin-right: 10px;

}



.products article .text sub {

    text-decoration: line-through;

    font-weight: 300;

}



.products article .image {

    overflow: hidden;

    height: auto;

}



.products article .image a {







    display: block;

}



.products article .image img {

    width: 100%;

    -moz-transition: all 0.4s;

    -o-transition: all 0.4s;

    -webkit-transition: all 0.4s;

    transition: all 0.4s;

}



@media (min-width: 768px) {

    .products article .image {

        padding: 0;

    }

}



.products article .btn-add {

    opacity: 0;

    -moz-transform: translate3d(100%, 0, 0);

    -ms-transform: translate3d(100%, 0, 0);

    -o-transform: translate3d(100%, 0, 0);

    -webkit-transform: translate3d(100%, 0, 0);

    transform: translate3d(100%, 0, 0);

    -moz-transition: all 0.5s;

    -o-transition: all 0.5s;

    -webkit-transition: all 0.5s;

    transition: all 0.5s;

}



.products article:hover {

    position: relative;

    z-index: 22;

}



.products article:hover .btn-add {

    opacity: 1;

    -moz-transform: translate3d(0, 0, 0);

    -ms-transform: translate3d(0, 0, 0);

    -o-transform: translate3d(0, 0, 0);

    -webkit-transform: translate3d(0, 0, 0);



    transform: translate3d(0, 0, 0);

}



.products article:hover .info > span {

    -moz-transform: scale(1);

    -ms-transform: scale(1);

    -o-transform: scale(1);

    -webkit-transform: scale(1);

    transform: scale(1);

}





.products article:hover .image img {

    -moz-transform: scale(1.04);

    -ms-transform: scale(1.04);

    -o-transform: scale(1.04);

    -webkit-transform: scale(1.04);

    transform: scale(1.04);

}



@media (min-width: 992px) {

    .products article:hover {

        -moz-transform: scale(1.03);

        -ms-transform: scale(1.03);

        -o-transform: scale(1.03);

        -webkit-transform: scale(1.03);

        transform: scale(1);

    }

}



.products article .info {

    display: none;

    position: absolute;

    width: 35px;

    right: 15px;

    top: 15px;

    margin-right: 0;



















    margin-top: 5px;

    z-index: 3;

}



.products article .info .add-favorite.added {

    -moz-transform: scale(1);

    -ms-transform: scale(1);

    -o-transform: scale(1);

    -webkit-transform: scale(1);

    transform: scale(1);



}



.products article .info .add-favorite.added a {

    background-color: #e71d36;

}



.products article .info .add-favorite.added a:hover:after {

    content: attr(data-title-added);

    background-color: inherit;

}



.products article .info a {

    position: relative;

    display: inline-block;

    padding: 0 5px;

    background-color: dimgray;

    color: white;

    text-align: center;

    border-radius: 30px;

    width: 30px;

    height: 30px;

    line-height: 30px;

    margin-bottom: 5px;

}







@media (min-width: 992px) {



    .products article .info a {

        margin-bottom: 10px;

    }

}





.products article .info a:hover {

    background-color: #000000;

    color: white;

}



.products article .info a:hover:after {

    position: absolute;

    content: attr(data-title);





    padding: 5px 6px;

    right: 110%;

    top: 3px;

    white-space: nowrap;

    z-index: 20;

    background-color: #000000;

    color: #fff;

    font-size: 10px;

    border-radius: 5px;

    line-height: normal;

}



.products article .info > span {

    display: block;

    -moz-transition: all 0.3s;

    -o-transition: all 0.3s;

    -webkit-transition: all 0.3s;

    transition: all 0.3s;

    -moz-transform: scale(0);

    -ms-transform: scale(0);

    -o-transform: scale(0);

    -webkit-transform: scale(0);

    transform: scale(0);

}



@media (min-width: 992px) {

    .products article .info {

        display: block;

    }

}



.products article .info > span:nth-child(1) {

    -moz-transition-delay: 0.1s;

    -o-transition-delay: 0.1s;

    -webkit-transition-delay: 0.1s;

    transition-delay: 0.1s;

}



.products article .info > span:nth-child(2) {

    -moz-transition-delay: 0.2s;

    -o-transition-delay: 0.2s;

    -webkit-transition-delay: 0.2s;

    transition-delay: 0.2s;

}



.products article .info > span:nth-child(3) {

    -moz-transition-delay: 0.3s;

    -o-transition-delay: 0.3s;

    -webkit-transition-delay: 0.3s;

    transition-delay: 0.3s;

}



.products article .figure-list {

    display: table;

    width: 100%;

}



.products article .figure-list .image,

.products article .figure-list .text {

    display: table-cell;

    vertical-align: middle;

    width: 50%;

}



@media (min-width: 992px) {

    .products article .figure-list .image {

        padding: 0;

    }

}



.products article .figure-list .text {

    position: relative;

    padding: 0 20px;

}



.products article .figure-list .text .title {

    white-space: inherit;

}



.products article .figure-list .text .description {

    display: none;

    margin-top: 15px;

}



.products article .figure-grid .text .description {

    display: none;

}



.products article .figure-block .text .description {

    position: relative;

    display: none;

    height: 80px;

    overflow: hidden;

    z-index: 1;

    padding-top: 5px;

}



.products article .figure-block .text .description:after {

    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);

    /* FF3.6-15 */

    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);

    /* Chrome10-25,Safari5.1-6 */

    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);

    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );

    /* IE6-9 */

    position: absolute;

    bottom: 0;

    width: 100%;

    height: 75px;

    content: "";

    display: block;

    z-index: 2;

}



@media (min-width: 768px) {

    .products article .figure-block .text .description {

        display: block;

    }



}



@media (min-width: 768px) {

    .products.products-category {

        padding-top: 40px;

        padding-bottom: 40px;

    }

    .products article .label {

        top: auto;

        bottom: 10px;

        left: 10px;

    }

    .products article sub, .products article sup {

        font-size: 80%;

    }

    .products article .figure-grid .text {

        position: absolute;

        padding: 20px 20px 0;

        top: 0;

    }

    .products article .figure-list .image {

        width: 30%;

    }

    .products article .figure-list .text {

        width: 70%;

    }

    .products article .figure-list .text .description {

        display: block;

    }

    .products article .figure-block .text {

        padding: 20px;

    }

}



@media (max-width: 767px) {

    .products .row {

        margin: 0;

    }

    .products .container,

    .products .row > div {

        padding-left: 1px;

        padding-right: 1px;

    }

    .products .btn-add {

        display: none;

    }

}



/*============================================== food end here======================*/

/*============================================== food-2 start here======================*/

.food-2 img.img-responsive {border-radius: 3px;} 

.mfp-bg.my-mfp-zoom-in.mfp-ready .product p {}



.mfp-auto-cursor .mfp-content .product .info-box p {



    width:  100%;

    color:  #666666;

    font-size: 16px;

    font-weight: 500;

}



.mfp-auto-cursor .mfp-content a {

    color: black;

}



.mfp-auto-cursor .mfp-content h2 {

    font-size:  18px;

    text-transform: uppercase;

    color: #666666;

}



.mfp-auto-cursor .mfp-content .popup-main .popup-table .popup-cell:nth-child(1) {

    padding-left:  28px;

}



.mfp-auto-cursor .mfp-content .popup-main .popup-table .popup-cell:nth-child(1) small {

    font-size:  16px;

    padding: 4px 0 0 0;

    font-weight:  400;

}



.mfp-auto-cursor .mfp-content .popup-title {padding-top: 40px;padding-bottom: 30px;}



button.mfp-close {}

/*  

    ----------------------------------

    30. Main popup

    ----------------------------------

*/

.popup-main {

    background: #e6e6e6;

    text-align: left;

    width: 100%;

    margin: 0px auto;

    position: relative;

    box-shadow: 0 0 20px #000;

    /*popup-product-styles*/

}



.popup-main.popup-main-article img {

    width: 100%;

}



.popup-main .popup-title {

    padding: 20px;

    text-align: left;

    font-size: 24px;

}



.popup-main .popup-title > * {

    margin: 0;

}



.popup-main .popup-content {

    background-color: white;

    padding: 15px;

}



.popup-main .popup-buttons a {

    border-left: 1px solid #fff;

    padding: 32px 30px;

    display: inline-block;

    margin-left: -3px;

    transition: all 0.3s ease-in-out;

}



.popup-main .popup-buttons a:hover {

    background-color: black;

    border-color: black;

    color: white;

}



.popup-main .mfp-close {

    height: 72px;

    border-left: 1px solid white;

}



.popup-main .popup-table {

    display: table;

    width: 100%;

    width: 100%;

}



.popup-main .popup-table .popup-cell {

    display: table-cell;

    vertical-align: middle;

    vertical-align: middle;

}



.popup-main .popup-table .popup-cell:nth-child(1) {

    padding-left: 18px;

}



.popup-main .popup-table .popup-cell:nth-child(2) {

    text-align: right;

}



@media (max-width: 767px) {

    .popup-main .popup-table .popup-cell .icon {

        font-size: 20px;

    }

}



.popup-main .product .product-info-wrapper {

    margin: 0;

    padding: 0;

    box-shadow: none;

    border: 0;

}



.popup-main .product .title small {

    display: block;

    margin: 0;

}



.popup-main .product .price {

    text-align: left;

    margin: 0;

}



.popup-main .product .price.price-single {

    padding: 15px 0;

}



@media (min-width: 992px) {

    .popup-main .product .price.price-single {

        padding: 20px 0;

    }

}



.popup-main .product .price small {

    display: block;

    margin: 0;

}



.popup-main .product .product-colors {

    margin-top: 10px;

}



.popup-main .product .owl-product-gallery {

    margin-bottom: 1px;

}



@media (min-width: 768px) {

    .popup-main {

        width: 640px;



    }

    .popup-main.popup-main-article {

        width: 760px;

    }

    .popup-main .popup-content {

        padding: 40px;

    }

    .popup-main .mfp-close {

        height: 110px;

        border-left: 1px solid white;

    }

    .popup-main .product .owl-product-gallery {

        margin-bottom: 1px;

    }

}

.food-2 #menu{min-height: 60px;box-shadow: 10px -20px 34px -20px rgba(0,0,0,0.20);}

.food-2 section.food-2-inner{background: url(../images/food-details.png)no-repeat;-webkit-background-size: cover;background-size: cover;padding: 112px 0 50px 0;}

.my-box .btn.btn-add {

    position:  absolute;

    z-index:  99999;

    right: 12px;

    bottom: 30px;

    background:  #a82973;

    border-radius: 100px;

    color:  white;

}



.my-box i.icon.icon-cart {

    font-size:  30px;

}

.my-box h2 {

    text-transform:  uppercase;

    font-size:  18px;

    font-weight: 600;

    margin-bottom:  5px;

}

.food-2-inner h1 {

    color:  #a82973;

    text-transform: capitalize;

}

.my-box .products article {

    margin: 10px 0 40px 0;

}

.my-box  article .info a {

    background:  #189f49;

}



article {}





/*============================================== food-2 end here======================*/



/*============================================== contact start here======================*/



.top1-sec.sec:before,.my-menu .top1-sec:after{display: none;}





.contact-main #menu,.food-category-main #menu,.blog-main #menu,.my-menu #menu{min-height: 60px;padding: 30px 0 0 0;}

section.contact,section.food-category,.top1-sec.sec{background: url(../images/food-details.png)no-repeat;-webkit-background-size: cover;padding: 40px 0 112px  0;}



section.contact h1 {

    text-transform: capitalize;

    color:  #a82973;

}

.contact h2.title {

    color:  #c74672;

    text-transform:  uppercase;

}



.contact strong {

    font-weight: 400;

}



.contact p {color: #70777e;font-weight: 400;font-size: 18px;}

.contact {

    background-color: #eeeeee;

    padding: 0 0 80px 0;

}



.contact.contact-single {

    background-color: #3a3d45;

}



.contact.contact-single.banner {

    padding-bottom: 0;

}



.contact #map {

    width: 100%;

    background-color: grey;

    border: 6px solid white;

    margin: 20px 0 0 0;

}



.contact .contact-block {

    margin-top: -260px;

    box-shadow: var(--box);

    background:  white;

    border-radius: 10px;

}



.contact .contact-block .banner {

    padding: 80px 40px;

}



.contact .contact-block .contact-info {

    background-color: white;

    padding: 40px 0;

    border-radius: 10px;

}



.contact .contact-block .contact-info .contact-form-wrapper {

    padding: 40px 0;

}



.contact .contact-block .contact-info figure {

    padding: 15px;

}



.contact .contact-block .contact-info figure figcaption > strong {

    display: block;

    padding: 7.5px 0;

    font-weight: 500;

    color:  #70777e;

}



.contact .contact-block .contact-info figure figcaption > span {

    font-size: 90%;

    font-weight: 400;

}



.contact .contact-block .contact-info figure .icon {

    font-size: 50px;

    color: #c74672;

}



.contact .contact-block .contact-form {

    display: none;

    margin-top: 50px;

}



/*============================================== contact end here======================*/





/*============================================== food-category start here======================*/

.food-category .food-box {}



.food-category .food-box img {position:  relative;width: 100%;}



.food-category .food-box h2 {position:  absolute;top: 230px;text-align:  center;color: white;font-size:  18px;text-transform:  uppercase;left: 0;right: 0;font-weight: 600;}



.food-category .food-box p {margin: 20px 0 30px 0;}

section.food-category h1 {color:  #a82973;margin-bottom:  35px;}



/*============================================== food-category end here======================*/

/*============================================== blog start here======================*/

section.blog{background: url(../images/food-details.png)no-repeat;-webkit-background-size: cover;padding: 55px 0 30px  0;}

.blog .blog-box {

    background:  white;

    padding-bottom: 1px;

    /* border-bottom-left-radius:  10px; */

    /* border-bottom-right-radius: 10px; */

    margin: 0 0 40px 0;

    border-radius: 5px;

}



.blog .blog-box .box-top h2 {

    position:  absolute;

    background:  #159f49;

    border-radius:  5px;

    font-size:  16px;

    line-height:  16px;

    color:  white;

    z-index:  9999;

    left: 35px;

    top: 20px;

    text-transform: capitalize;

    padding: 3px 10px;

}



.blog .blog-box .box-top img {

    position:  relative;

    width: 100%;

}



.blog .blog-box .box-bottom {

    background: white;

    border-bottom-left-radius: 10px;

    border-bottom-right-radius: 10px;

    padding: 38px 38px 0px 38px;

    min-height: 270px;

}



.blog .blog-box .box-bottom h3 {

    font-size: 14px;

    color:  #666666;

    font-weight: 400;

}



.blog .blog-box .box-bottom h2 {font-size:  20px;text-transform: uppercase;padding: 20px 0 0 0;font-weight: 600;}



.blog .blog-box .box-bottom p {

    color:  #666666;

    font-size:  16px;

    font-weight: 400;

}



.blog .blog-box .box-bottom-sec {





    border-top: 1px solid #cccccc;

    padding: 0 38px;

}



.blog .blog-box .box-bottom-sec p.p1  i {

    color: #cdcdcd;

}



.blog .blog-box .box-bottom-sec p.p1 span.s2 i {}

.blog h1 {

    text-transform:  capitalize;

    margin: 0 0 30px -15px;

}

 .blog .blog-box .box-bottom-sec P {color:  #b1b1b1;}

.blog .blog-box .box-bottom-sec p.p1 span.s1 {

    padding: 0 20px 0 0;

}



.blog .blog-box .box-bottom-sec p.p1 span.s2 {

    padding: 0 20px 0 0;

}

/*============================================== blog end here======================*/



/*resposive start here*/

@media (max-width:1300px) {

}



@media (max-width:1120px) {

.book-slide-box h4 {

	text-align: center;

	color: #333333;

	font-family: 'as_signwriterregular';

	font-size: 20px;

	margin: 10px 0px;

}

.book-slide-box p {

	font-size: 12px;

}

.testi-inner {

	margin: 5% auto 0px auto;



	border-radius: 15px;

	text-align: center;

	width: 90%;

}

	

	

	

}

@media (max-width:1151px) {

	.cart .checkout .cart-block > div:nth-child(4){margin: 40px 0 0 0 ;}

	.product .main {padding: 50px 20px;}

	.food-category .food-box h2{top: 180px;}

	.blog .blog-box .box-bottom-sec p.p1 span.s1 {padding: 0px 10px 0 0;}

	.blog .blog-box .box-bottom-sec p.p1 span.s2 {padding: 0 10px 0 0;}

	

}

@media (max-width:991px) {

	

	.food-category .food-box h2 {top: 280px;}

	

	 .product-image img {

    float: none;

    margin: 20px 0 0 0;

}

	.product-image {text-align: center;}

	.product-inner button.btn.btn-buy {right: 80px;top: 30px;}

}



@media (min-width: 768px) and (max-width: 999px) {

	

	

	.cart .checkout .cart-block .price{    margin: 20px 0 0 0 !important;}

	

.slicknav_menu {

	background: #f0d22a !important;

	padding: 5px;

}

.slicknav_btn {

	margin: 5px 5px 6px;

	text-decoration: none;

	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);

	-webkit-border-radius: 4px;

	-moz-border-radius: 4px;

	border-radius: 4px;

	background-color: transparent !important;

}

.top-banner {

	width: 100%;

	position: relative;

	background: url(../images/banner-img.png) no-repeat center;

	padding: 6% 0;

	background-size: 100%;

	overflow: hidden;

	min-height: auto;

}

.elmnt1 {

	display: none;

}

.elmnt2 {

	display: none;

}

.elmnt3 {

	display: none;

}

.elmnt-new1 {

	display: none;

}

.elmnt-new2 {

	display: none;

}

.elmnt-new3 {

	display: none;

}

.elmnt-new4 {

	display: none;

}

.elmnt-new5 {

	display: none;

}

.elmnt-new6 {

	display: none;

}

.elmnt03 {

	display: none;

}

.events-sec {

	background: url(../images/sec4.jpg) no-repeat right;

}

.logo {

	display: block;

	max-width: 100%;

	margin: 0px auto;

	width: 30%;

}

.book-slide-1 {

	width: 100%;

	background: #fff;

	background-size: 100%;

	text-align: center;

	padding: 0 0 50px 0;

	margin-top: 20px;

}

.book-slide-2 {

	width: 100%;

	background: #fff;

	background-size: 100%;

	text-align: center;

	padding: 0 0 50px 0;

	margin-top: 20px;

}

.bottom-testi-sec .img-full {

	display: none;

}

.testi-inner {

	margin: 20px auto;

	border-radius: 15px;

	text-align: center;

	width: 90%;

}

	

	

	

}



@media (max-width: 800px) {

	.top1-sec {background-color: #efd12d !important;background-position: 0 -80px !important;}

	nav ul.end i:before {

    position: absolute;

    top: 30px;

    left: 40px;

    z-index:  9999999999999999999;

}



nav ul.end i {font-size:  17px;}



nav .open-cart span {

    top: 25px;

    left: 55px;

}

	

	section.blog,.food-2 section.food-2-inner{background-position: 0 -100px;padding: 30px 0 10px 0;background-color: #edd233;}

	 .cart{background-position: 0 -100px;padding: 30px 0 10px 0;background-color: #ca4f75;}

}

	@media (max-width: 767px) {

		.cart-main .cart-block.cart-block-item.clearfix img {width: 50% !important;display: block!important;margin: 0 auto!important;}

		

		.cart .checkout .cart-block > div:nth-child(4) {margin: 0;}

		.cart .checkout .white-block{padding: 15px;}

		.checkout .note-block{padding: 10px;}

		.cart h1{padding: 0 0 0 30px; }

		.cart .container{padding-left: 15px;padding-right: 15px;}

	.food .col-xs-6.col-sm-6.col-md-3.col-lg-3 {padding-left: 15px;padding-right: 15px;}

	.blog h1 {color: #a82973;}

	section.blog,.food-2 section.food-2-inner{background-position: 0 -100px;padding: 30px 0 10px 0;background-color: #edd233;}

	 .cart{background-position: 0 -100px;padding: 30px 0 10px 0;background-color: #ca4f75;}

	.about .box{margin: 20px 0 0 0;}

	.about-top1-sec,section.contact, section.food-category{padding: 30px 0 70px 0;background-position: 0 -20px; background-color: #edd233; }

	.about-top1-sec:after {width: 100%;background: url(../images/yellow-top.png) no-repeat;background-size: 100% 100%;position: absolute;left: 0;top: -26px;content: '';height: 40px;z-index: 99999;}

 	.about h1 br{display: none;}

	

.top1-sec {



	width: 100%;

	background: #efd12d;

	padding: 20px 0px;

	background-size: cover;

	position: relative;

	overflow: hidden;



}

h1 {



	margin: 15px 0px;

	font-size: 40px;

	font-weight: 400;

	padding: 0px 0;

	font-family: 'as_signwriterregular';

	color: #fff;

}

.testi-inner {

	margin: 40px auto;

	border-radius: 15px;

	text-align: center;

	width: 90%;



}

.bottom-testi-sec .row {

	margin-right: 0px;

	margin-left: 0px;

}

.slicknav_menu {

	background: #f0d22a !important;

	padding: 5px;

}

.slicknav_btn {

	margin: 5px 5px 6px;

	text-decoration: none;

	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);

	-webkit-border-radius: 4px;

	-moz-border-radius: 4px;

	border-radius: 4px;

	background-color: transparent !important;

}

.top-banner {

	width: 100%;

	position: relative;

	background: url(../images/banner-img.png) no-repeat center;

	padding: 6% 0;

	background-size: 100%;

	overflow: hidden;

	min-height: auto;

}

.elmnt1 {

	display: none;

}

.elmnt2 {

	display: none;

}

.elmnt3 {

	display: none;

}

.elmnt-new1 {

	display: none;

}

.elmnt-new2 {

	display: none;

}

.elmnt-new3 {

	display: none;

}

.elmnt-new4 {

	display: none;

}

.elmnt-new5 {

	display: none;

}

.elmnt-new6 {

	display: none;

}

.elmnt03 {

	display: none;

}

.events-sec {

	background: url(../images/sec4.jpg) no-repeat right;

}

.logo {

	display: block;

	max-width: 100%;

	margin: 0px auto;

	width: 30%;

}

.events-sec h2 {

	font-family: 'homesteadinline';

	color: #fff;

	font-size: 30px;

	line-height: 0px;

	text-transform: uppercase;

	margin: -5px 0 40px 0;

}

.book-slide-1 {

	width: 100%;

	background: #fff;

	background-size: 100%;

	text-align: center;

	padding: 0 0 50px 0;

	margin-top: 20px;

}

.book-slide-2 {

	width: 100%;

	background: #fff;

	background-size: 100%;

	text-align: center;

	padding: 0 0 50px 0;

	margin-top: 20px;

}

.tents-sec:after {

	display: none;

}

.tents-sec h2 {

	font-family: 'homesteadinline';

	color: #f8d325;

	font-size: 40px;

	line-height: 0px;



	text-transform: uppercase;



	margin: -5px 0 40px 0;

}

.bottom-testi-sec:after {

	display: none;

}

.bottom-testi-sec .img-full {

	display: none;

}

	

	

}



@media (max-width: 375px) {

	.cart-block.cart-block-footer.cart-block-footer-price.clearfix .h2.title {font-size: 20px;margin: 8px 0 0 0;}

	.login-btn{margin:-10px 0 0 0;}

	

	.cart .checkout .col-xs-6 {width: 100%;}

	.cart a.btn.btn-main.green-btn {float:  none;}



	.cart a.btn.green-btn {margin:  0 auto;}

	section.products .col-xs-6.col-sm-6.col-md-4.col-lg-3 {width: 100%;}

	

	.food-category .food-box h2 {top: 300px!important;}

	.cart-main span.h2.title {text-align: center;display: block;}

	.cart-main a.btn.btn-main.green-btn {margin: 20px auto 0 auto;}

	

	

}

@media (max-width: 480px) {

    

	.cart .checkout .cart-block > div.image{margin-bottom: 20px;}

	.cart .container {padding-left: 0px;padding-right: 0px;}

	.popup-main .mfp-close{height: 92px;}

	.mfp-wrap.mfp-close-btn-in.mfp-auto-cursor.my-mfp-zoom-in.mfp-ready .h1.title {font-size: 20px;}

	.food .col-xs-6.col-sm-6.col-md-3.col-lg-3{width: 100%;}

	section.contact p {padding: 0 10px;}

	.blog .blog-box .box-bottom-sec p.p1 span.s1 {padding: 0px 30px 0 0;}

	.blog .blog-box .box-bottom-sec p.p1 span.s2 {padding: 0px 30px 0 0;}

	section.products .col-xs-6.col-sm-6.col-md-4.col-lg-3 {width: 100%;}

	.food-category .food-box h2 {top: 380px;}





	section.food-category .col-md-3.col-sm-6.col-xs-6 {width: 100%;}

	.product-inner .nav-tabs>li {width: 100%;}

	.products article{margin:20px 0;}

	section.products h2.title.h5 {margin: 0;}

	section.products .col-xs-6.col-sm-4.col-md-3.col-lg-3 {width: 100%;}

	.product .product-flex .product-flex-info {padding: 0 0 0 20px;}

	.product .main {padding: 20px 20px 50px 20px;}

	.product-inner button.btn.btn-buy {right: 20px;top: 30px;}

	.product .info-inner {padding: 20px 15px;}

	.cart .cart-info {padding: 0 10px;}

	header {padding: 20px 0px 0 0px;}

.top1-sec {

	width: 100%;

	background: #efd12d;

	padding: 20px 0px;

	background-size: cover;

	position: relative;

	overflow: hidden;

}

h1 {

	margin: 15px 0px;

	font-size: 40px;

	font-weight: 400;

	padding: 0px 0;

	font-family: 'as_signwriterregular';

	color: #a82973;

	

}

.bottom-testi-sec .row {

	margin-right: 0px;

	margin-left: 0px;

}

.slicknav_menu {

	background: #f0d22a !important;

	padding: 5px;

}

.slicknav_btn {

	margin: 5px 5px 6px;

	text-decoration: none;

	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);

	-webkit-border-radius: 4px;

	-moz-border-radius: 4px;

	border-radius: 4px;

	background-color: transparent !important;

}

.top-banner {



	width: 100%;

	position: relative;

	background: url(../images/banner-img.png) no-repeat center;

	padding: 6% 0;

	background-size: 100%;

	overflow: hidden;

	min-height: auto;

}

.elmnt1 {

	display: none;

}

.elmnt2 {

	display: none;

}

.elmnt3 {

	display: none;

}



.elmnt-new1 {

	display: none;

}

.elmnt-new2 {

	display: none;

}

.elmnt-new3 {

	display: none;

}

.elmnt-new4 {

	display: none;

}

.elmnt-new5 {

	display: none;

}

.elmnt-new6 {

	display: none;

}

.elmnt03 {

	display: none;



}

.events-sec {

	background: url(../images/sec4.jpg) no-repeat right;

}

.logo {

	display: block;

	max-width: 100%;

	margin: 0px auto;

	width: 30%;

}

.events-sec h2 {

	font-family: 'homesteadinline';

	color: #fff;

	font-size: 30px;

	line-height: 0px;

	text-transform: uppercase;

	margin: -5px 0 40px 0;

}

.book-slide-1 {

	width: 100%;

	background: #fff;

	background-size: 100%;

	text-align: center;

	padding: 0 0 50px 0;

	margin-top: 20px;

}

.book-slide-2 {

	width: 100%;

	background: #fff;

	background-size: 100%;

	text-align: center;

	padding: 0 0 50px 0;

	margin-top: 20px;

}

.tents-sec:after {

	display: none;

}

.tents-sec h2 {

	font-family: 'homesteadinline';

	color: #f8d325;

	font-size: 40px;

	line-height: 0px;

	text-transform: uppercase;

	margin: -5px 0 40px 0;

}

.bottom-testi-sec:after {

	display: none;

}



	.bottom-testi-sec .img-full {display: none;}

	

	

}





 



.brands .box {

    border: 0;

}



.product .info-inner .col-md-3 {

    padding:  0;

}



.tab-content p {

    color:  #646464;

    font-weight: 500;

}



.product .price span.h3 {

    font-size: 27px;

    font-weight:  600;

    margin: 0 0 0 0;

    color:  #646464;

}



.product-inner small {font-size: 15px;color:  #646464;font-weight: 600;margin:   0 0 0;}



small {}



.product .price small {

    font-size:  20px;

    font-weight: 600;

}



.brand .name p {

    font-weight: 600;

}



.brands .name p {

    font-weight: 600;

    color: #646464;

    font-size: 15px;

}



.brands .name p a {

    color: #646464;

}



.brands .name p a:hover {

    color:  #a82973;

}



.food hr {

    width: 85%;

    float:  left;

}



.product-inner h2 {

    padding: 40px 0 0 0;

    text-transform:  uppercase;

}



.product .info-box p {

    width: 70%;

}

.pagi ul li {border-radius:  50px;}



.pagi .pagination>li>a, .pagination>li>span {

      border-radius: 50px;

      line-height: 26px;

      height: 40px;

      width: 40px;

}

 

.checkout .cart-block.cart-block-footer label.ll {

    font-weight: 600;

}



.pagination li a.active {background: #189f49 !important;color: white;}

.pagination li a {

    margin: 0 0 0 10px;

    display:  inline-block;

    background: #a82973!important;

    border-radius:  50px;

    border:  0;

    color:  white;

    font-size: 13px;

    border-radius:  50px

}

.de a:first-child {

}



.pagination li a:hover {

    background: #189f49 !important;

    color:white;

}



 