﻿
/*  
    ----------------------------------
    14. Blocks
    ----------------------------------
*/
.blocks {
    padding: 400px 0;
    position: relative;
}

.blocks .image {
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
}

.blocks .item {
    width: 50%;
}

.blocks.rtl .item {
    padding-right: 50px;
}

.blocks.ltr .item {
    margin-left: 50%;
    padding-left: 50px;
}

.blocks.ltr .image {
    right: 50%;
}

.blocks.blocks-fluid {
    background-color: #e8e8e8;
    position: relative;
}

.blocks.blocks-boxed {
    padding: 0;
}

.blocks.blocks-boxed .container {
    position: relative;
}

.blocks.blocks-boxed .text {
    padding: 45px 0;
}

@media (max-width: 768px) {
    .blocks > div {
        display: flex;
        flex-flow: column;
    }
    .blocks .item {
        order: 2;
        width: 100%;
    }
    .blocks .image {
        width: 100%;
        order: 1;
        position: relative;
        min-height: 300px;
        left: 0;
        right: 0;
    }
    .blocks.ltr .item,
    .blocks.rtl .item {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    .blocks .text,
    .blocks.blocks-boxed .text {
        padding: 20px 0 0 0;
    }
}

/*  
    ----------------------------------
    15. Sort bar
    ----------------------------------
*/
.sort-bar {
    border-bottom: 1px solid #e0e0e0;
    background-color: #eeeeee;
    font-size: 14px;
}

.sort-bar select {
    background-color: white;
    padding: 5px;
    border: 1px solid #e0e0e0;
    outline: none;
}

.sort-bar .grid-list {
    padding-right: 0 !important;
}

.sort-bar .grid-list a {
    background: white;
    color: #666666;
    padding: 5px 8px;
    display: inline-block;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.sort-bar .grid-list a:hover {
    background-color: #2e73bb;
    color: white;
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.sort-bar strong {
    font-weight: 500;
    color: #616161;
}

.sort-bar a.toggle-filters-mobile {
    display: inline-block;
}

.sort-bar .sort-results > span {
    display: none;
    padding: 0 10px;
}

@media (min-width: 992px) {
    .sort-bar {
        padding: 20px;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }
    .sort-bar:hover {
        opacity: 1;
    }
    .sort-bar .sort-results > span {
        display: inline-block;
    }
    .sort-bar a.toggle-filters-mobile {
        display: none;
    }
}

@media (max-width: 991px) {
    .sort-bar {
        background-color: white;
        margin-bottom: 1px;
        padding: 7.5px;
    }
}

/*  
    ----------------------------------
    16. Price filter
    ----------------------------------
*/
.price-filter {
    padding: 15px 0;
}

.price-filter.price-filter-top {
    padding: 0;
    margin-top: -20px;
    margin-bottom: 20px;
}

/* 
    ----------------------------------
    17. Pagination
    ----------------------------------
*/
.pagination-wrapper {
    position: relative;
    text-align: center;
}

@media (max-width: 767px) {
    .pagination-wrapper {
        margin: 0 15px;
        padding-top: 20px;
    }
}

.pagination-wrapper .pagination > li:first-child, .pagination-wrapper .pagination > li:last-child {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.pagination-wrapper .pagination > li:first-child:hover, .pagination-wrapper .pagination > li:last-child:hover {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.pagination-wrapper .pagination > li:first-child {
    left: 0;
}

.pagination-wrapper .pagination > li:last-child {
    right: 0;
}

.pagination-wrapper .pagination > li > a,
.pagination-wrapper .pagination > li > span {
    border: 0;
    border-radius: 100%;
    color: white;
    background-color: #2e73bb;
    margin: 0 3px;
    display: inline-block;
    padding: 6px 12px;
}

.pagination-wrapper .pagination > li > a:hover,
.pagination-wrapper .pagination > li > span:hover {
    background-color: black;
}

.pagination-wrapper .pagination .active > a, .pagination-wrapper .pagination .active > a:hover, .pagination-wrapper .pagination .active > a:focus,
.pagination-wrapper .pagination .active > span,
.pagination-wrapper .pagination .active > span:hover,
.pagination-wrapper .pagination .active > span:focus {
    background-color: black;
}

/*  
    ----------------------------------
    18. Filters
    ----------------------------------
*/
.filters {
    background-color: #eeeeee;
}

.filters .filter-box {
    border-bottom: 1px solid #e0e0e0;
}

.filters .filter-box .title {
    cursor: pointer;
    padding: 10px;
    position: relative;
}

.filters .filter-box .title:after {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    content: "\e874";
    font-family: 'LinearIcons';
    position: absolute;
    display: inline-block;
    line-height: 34px;
    height: 100%;
    width: 42px;
    right: 0;
    top: 0;
    text-align: center;
}

.filters .filter-box.active .title:after {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media (min-width: 992px) {
    .filters .filter-box {
        border: 0;
        margin-bottom: 1px;
    }
    .filters .filter-box .title {
        padding: 20px;
        height: 71px;
        line-height: 31px;
    }
    .filters .filter-box .title:after {
        height: 71px;
        line-height: 71px;
    }
}

.filters .filter-content {
    display: none;
    padding: 10px;
    background-color: #f6f6f6;
}

.filters .filter-content .checkbox label {
    display: block;
}

.filters .filter-content i {
    font-style: normal;
    display: block;
    font-size: 70%;
    float: right;
    line-height: 28px;
    margin-right: 5px;
}

.filters .filter-content .product-colors {
    padding: 15px;
}

.filters .filter-content .product-colors .color-btn {
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
}

.filters.filters-top .filter-box {
    position: relative;
}

.filters.filters-top .filter-update {
    display: none;
}

@media (min-width: 992px) {
    .filters.filters-top {
        position: relative;
        line-height: 31px;
        background-color: transparent;
    }
    .filters.filters-top .filter-content {
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 99;
        border: 1px solid #e4e4e4;
        margin: 0;
        max-height: 300px;
        overflow: auto;
    }
    .filters.filters-top .filter-update {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 20px 13.33333px;
        text-align: center;
        cursor: pointer;
        background-color: #232529;
        color: white;
        display: none;
    }
    .filters.filters-top .filter-box {
        margin-bottom: 0;
        border-bottom: 1px solid #e0e0e0;
    }
    .filters.filters-top .filter-box .title {
        padding: 20px;
        background-color: #eeeeee;
        height: auto;
    }
    .filters.filters-top .filter-box .title:hover {
        background-color: #3a3d45;
        color: white;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .filters.filters-top .filter-box .title:after {
        line-height: 71px;
        height: 100%;
    }
    .filters.filters-top .filter-box.active .title {
        background-color: #3a3d45;
        color: white;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .filters.filters-top .filter-box.active .filter-update {
        display: block;
    }
}

@media (max-width: 991px) {
    .filters.filters-top .container {
        padding: 0;
        width: 100%;
    }
}

.filters .toggle-filters-close {
    width: 100%;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

@media (max-width: 991px) {
    .filters {
        background-color: white;
        position: fixed;
        width: 50%;
        height: 100%;
        z-index: 9999;
        top: 0;
        left: auto;
        right: 0;
        overflow: auto;
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .filters .row {
        margin: 0;
    }
    .filters .row > div {
        padding: 0;
    }
    .filters.active {
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    }
    .filters .toggle-filters-close {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
}



.popup-main {
    background: #e6e6e6;
    text-align: left;
    width: 100%;
    margin: 0px auto;
    position: relative;
    box-shadow: 0 0 20px #000;
    /*popup-product-styles*/
}

.popup-main.popup-main-article img {
    width: 100%;
}

.popup-main .popup-title {
    padding: 20px;
    text-align: left;
    font-size: 24px;
}

.popup-main .popup-title > * {
    margin: 0;
}

.popup-main .popup-content {
    background-color: white;
    padding: 15px;
}

.popup-main .popup-buttons a {
    border-left: 1px solid #fff;
    padding: 32px 30px;
    display: inline-block;
    margin-left: -3px;
}

.popup-main .popup-buttons a:hover {
    background-color: black;
    border-color: black;
    color: white;
}

.popup-main .mfp-close {
    height: 72px;
    border-left: 1px solid white;
}

.popup-main .popup-table {
    display: table;
    width: 100%;
    width: 100%;
}

.popup-main .popup-table .popup-cell {
    display: table-cell;
    vertical-align: middle;
    vertical-align: middle;
}

.popup-main .popup-table .popup-cell:nth-child(1) {
    padding-left: 18px;
}

.popup-main .popup-table .popup-cell:nth-child(2) {
    text-align: right;
}

@media (max-width: 767px) {
    .popup-main .popup-table .popup-cell .icon {
        font-size: 20px;
    }
}

.popup-main .product .product-info-wrapper {
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: 0;
}

.popup-main .product .title small {
    display: block;
    margin: 0;
}

.popup-main .product .price {
    text-align: left;
    margin: 0;
}

.popup-main .product .price.price-single {
    padding: 15px 0;
}

@media (min-width: 992px) {
    .popup-main .product .price.price-single {
        padding: 20px 0;
    }
}

.popup-main .product .price small {
    display: block;
    margin: 0;
}

.popup-main .product .product-colors {
    margin-top: 10px;
}

.popup-main .product .owl-product-gallery {
    margin-bottom: 1px;
}

@media (min-width: 768px) {
    .popup-main {
        width: 640px;
    }
    .popup-main.popup-main-article {
        width: 760px;
    }
    .popup-main .popup-content {
        padding: 40px;
    }
    .popup-main .mfp-close {
        height: 90px;
        border-left: 1px solid white;
    }
    .popup-main .product .owl-product-gallery {
        margin-bottom: 1px;
    }
}

/*  
    ----------------------------------
    31. Instagram
    ----------------------------------
*/
.instagram {
    padding-bottom: 0;
    position: relative;
}

.instagram header {
    width: 180px;
    height: 180px;
    padding: 50px 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 33;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
}

.instagram header:before {
    display: none;
}

@media (min-width: 992px) {
    .instagram header {
        width: 260px;
        height: 260px;
        padding: 50px 0;
    }
}

@media (max-width: 991px) {
    .instagram header {
        background: #d2d2d2;
    }
    .instagram header .fa-3x {
        font-size: 24px;
    }
}

.instagram .gallery .item {
    width: 16.66667%;
    float: left;
    overflow: hidden;
}

.instagram .gallery .item img {
    width: 100%;
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.instagram .gallery .item:hover img {
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

/*  
    ----------------------------------
    32. Checkout
    ----------------------------------
*/
.checkout {
    background-color: #eeeeee;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (min-width: 992px) {
    .checkout {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media (max-width: 767px) {
    .checkout {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.checkout hr {
    border-color: #e0e0e0;
}

.checkout .cart-wrapper {
    margin: 15px 0;
}

@media print {
    .checkout .cart-wrapper {
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
    }
    .checkout .cart-wrapper + .cart-wrapper {
        border-top: 0;
    }
}

.checkout .white-block {
    background-color: white;
    padding: 20px 15px;
    margin-bottom: 15px;
}

.checkout .note-block {
    background-color: white;
}

.checkout .title {
    margin: 0;
}

.checkout .cart-block {
    position: relative;
    margin-bottom: 15px;
}

.checkout .cart-block:last-child {
    margin-bottom: 0;
}

.checkout .cart-block.cart-block-header {
    display: none;
    background-color: #fbfbfb;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.checkout .cart-block.cart-block-item {
    background-color: white;
}

.checkout .cart-block.cart-block-footer {
    color: black;
    margin-top: 1px;
    background-color: white;
    padding: 15px 30px;
}

.checkout .cart-block.cart-block-footer.cart-block-footer-price {
    padding: 30px 30px;
    background-color: white;
}

.checkout .cart-block.cart-block-footer > div {
    padding: 0;
}

.checkout .cart-block.cart-block-footer > div:nth-child(1), .checkout .cart-block.cart-block-footer > div:nth-child(2) {
    width: 50%;
}

.checkout .cart-block.cart-block-footer > div:nth-child(2) {
    text-align: right;
}

.checkout .cart-block.cart-block-footer .form-coupon {
    display: inline-block;
    width: inherit;
    margin-left: 10px;
    text-align: left;
}

.checkout .cart-block > div {
    padding: 0 30px;
}

.checkout .cart-block > div img {
    width: 100%;
    vertical-align: middle;
}

.checkout .cart-block > div.image {
    padding: 0;
}

.checkout .cart-block > div.quantity, .checkout .cart-block > div.price {
    width: 50%;
    float: left;
}

.checkout .cart-block > div.quantity .form-quantity {
    display: inline-block;
    width: 80px;
}

.checkout .cart-block .title > * {
    margin: 0;
}

.checkout .cart-block .price > span {
    display: block;
    text-align: right;
}

.checkout .cart-block .price .final {
    margin: 0;
}

.checkout .cart-block .price .discount {
    text-decoration: line-through;
}

.checkout .cart-block .icon-delete {
    position: absolute;
    cursor: pointer;
    padding: 5px;
    right: 0;
    top: 0;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.checkout .cart-block .icon-delete:hover {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

@media (min-width: 768px) {
    .checkout .white-block {
        padding: 30px;
    }
    .checkout .cart-block {
        display: table;
        width: 100%;
        margin-bottom: 1px;
    }
    .checkout .cart-block.cart-block-header {
        display: table;
        padding: 15px;
    }
    .checkout .cart-block.cart-block-header > div {
        padding: 0;
    }
    .checkout .cart-block.cart-block-footer .form-coupon {
        position: absolute;
        top: 0;
    }
    .checkout .cart-block > div {
        display: table-cell;
        vertical-align: middle;
    }
    .checkout .cart-block > div img {
        width: 100%;
        vertical-align: middle;
    }
    .checkout .cart-block > div:nth-child(1) {
        width: 15%;
    }
    .checkout .cart-block > div:nth-child(2) {
        width: 45%;
    }
    .checkout .cart-block > div:nth-child(3) {
        width: 10%;
    }
    .checkout .cart-block > div:nth-child(4) {
        width: 30%;
    }
    .checkout .cart-block > div.quantity, .checkout .cart-block > div.price {
        float: none;
    }
    .checkout .cart-block > div.quantity {
        text-align: center;
    }
    .checkout .cart-block .title {
        padding: 0 0 0 30px;
    }
    .checkout .cart-block .title > * {
        margin: 0;
    }
    .checkout .cart-block .price {
        padding-right: 30px;
    }
    .checkout .cart-block .price > span {
        display: block;
        text-align: right;
    }
    .checkout .cart-block .price .final {
        margin: 0;
    }
    .checkout .cart-block .price .discount {
        text-decoration: line-through;
    }
    .checkout .cart-block .form-control {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .checkout .cart-block {
        padding-bottom: 15px;
    }
    .checkout .cart-block > div {
        padding: 0 10px;
    }
    .checkout .cart-block .title {
        margin-bottom: 15px;
    }
    .checkout .cart-block .form-control {
        height: 30px;
    }
    .checkout .cart-block.cart-block-footer {
        color: black;
    }
    .checkout .cart-block.cart-block-footer > div {
        float: left;
    }
    .checkout .cart-block.cart-block-footer .form-coupon {
        margin-top: 10px;
        margin-left: 0;
    }
}

/*  
    ----------------------------------
    33. Checkout steps
    ----------------------------------
*/
.step-wrapper {
    background-color: white;
    padding: 30px 0 20px 0;
}

@media (min-width: 768px) {
    .step-wrapper {
        padding: 60px 0 40px 0;
    }
}

@media print {
    .step-wrapper {
        display: none !important;
    }
}

.step-wrapper header {
    padding: 0;
}

.step-wrapper header .title {
    padding-top: 15px;
    color: white;
}

@media (min-width: 768px) {
    .step-wrapper header .title {
        padding-top: 40px;
    }
}

.step-wrapper .stepper {
    color: white;
}

.step-wrapper .stepper > ul {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
}

.step-wrapper .stepper > ul > li {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    text-align: center;
    padding: 0;
}

.step-wrapper .stepper > ul > li:first-child:before {
    display: none;
}

.step-wrapper .stepper > ul > li:before {
    background-color: #3078c3;
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    top: 50%;
    right: 50%;
    z-index: 0;
}

.step-wrapper .stepper > ul > li span {
    background-color: white;
    font-size: 50px;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    z-index: 9;
    color: #3078c3;
    font-family: 'LinearIcons';
}

.step-wrapper .stepper > ul > li span:before {
    content: "\e880";
}

.step-wrapper .stepper > ul > li span:after {
    content: attr(data-text);
    position: absolute;
    display: inline-block;
    bottom: 100%;
    text-transform: uppercase;
    text-align: center;
    width: initial;
    left: 50%;
    font-size: 10px;
    white-space: nowrap;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: "Open Sans", sans-serif;
}

@media (min-width: 992px) {
    .step-wrapper .stepper > ul > li span {
        width: 50px;
        height: 60px;
        font-size: 50px;
        line-height: 60px;
    }
    .step-wrapper .stepper > ul > li span:after {
        font-size: 16px;
        line-height: initial;
    }
}

.step-wrapper .stepper > ul > li.active:before {
    background-color: black;
}

.step-wrapper .stepper > ul > li.active span {
    color: black;
}

.step-wrapper .stepper > ul > li.active span:before {
    content: "\e87f";
}

/*  
    ----------------------------------
    34. Login wrapper
    ----------------------------------
*/
.login-wrapper.login-wrapper-page {
    background-color: #eeeeee;
    padding: 40px 0;
}

.login-wrapper .white-block {
    background-color: white;
    padding: 20px 15px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .login-wrapper .white-block {
        padding: 30px;
    }
}

.login-wrapper .login-block .row {
    margin-left: -5px;
    margin-right: -5px;
}

.login-wrapper .login-block .row > div {
    padding-left: 5px;
    padding-right: 5px;
}

.login-wrapper .login-block.login-block-signin {
    display: none;
}

.login-wrapper .login-block.login-block-signup {
    display: block;
}

/*  
    ----------------------------------
    35. Contact
    ----------------------------------
*/
.contact {
    background-color: #eeeeee;
    padding: 0 0 80px 0;
}

.contact.contact-single {
    background-color: #3a3d45;
}

.contact.contact-single.banner {
    padding-bottom: 0;
}

.contact #map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

.contact .contact-block {
    margin-top: -80px;
}

.contact .contact-block .banner {
    padding: 80px 40px;
}

.contact .contact-block .contact-info {
    background-color: white;
    padding: 40px 0;
}

.contact .contact-block .contact-info .contact-form-wrapper {
    padding: 40px 0;
}

.contact .contact-block .contact-info figure {
    padding: 15px;
}

.contact .contact-block .contact-info figure figcaption > strong {
    display: block;
    padding: 7.5px 0;
}

.contact .contact-block .contact-info figure figcaption > span {
    font-size: 90%;
}

.contact .contact-block .contact-info figure .icon {
    font-size: 50px;
    color: #2e73bb;
}

.contact .contact-block .contact-form {
    display: none;
    margin-top: 50px;
}

/*  
    ----------------------------------
    36. Map Info window
    ----------------------------------
*/
.map-info-window .fa {
    width: 20px;
    text-align: center;
    margin-right: 3px;
    display: inline-block;
}

/*  
    ----------------------------------
    37. Shortcodes
    ----------------------------------
*/
.shortcodes {
    background-color: #f8f8f8;
    padding: 40px 0;
}

.shortcodes .buttons .btn {
    display: block;
    width: 100%;
}

.shortcodes .buttons .button-box {
    background-size: cover;
    background-position: center;
    min-height: 200px;
}

.shortcodes .list-group-item {
    padding: 0;
}

.shortcodes .list-group-item a {
    padding: 10px 15px;
    display: block;
    color: #666;
}

.shortcodes .list-group-item a.active, .shortcodes .list-group-item a:hover {
    background-color: #ddd;
}

.shortcodes article {
    border: 1px solid #ddd;
    background-color: white;
    padding: 15px;
    display: block;
    margin-bottom: 60px;
}

.shortcodes article h1:first-child + hr {
    border-color: #2e73bb;
}

.shortcodes article .icons figure {
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.shortcodes article .icons figure .icon {
    font-size: 78px;
}

.shortcodes article .icons figure figcaption {
    font-size: small;
    display: block;
    white-space: nowrap;
}

.shortcodes .well {
    background-color: #666;
    margin: 15px 0;
    background-position: center;
    background-size: cover;
}

.shortcodes .affix {
    top: 80px;
    width: 212px;
}

@media (min-width: 1200px) {
    .shortcodes .affix {
        width: 262px;
    }
}

.shortcodes .icons-wrapper figure {
    text-align: center;
    font-size: 100px;
}

.shortcodes .icons-wrapper figure figcaption {
    font-size: 16px;
}

.shortcodes .show-all {
    float: right;
}

.shortcodes .bs-glyphicons {
    margin: 0 -10px 20px;
    overflow: hidden;
    max-height: 230px;
}

.shortcodes .bs-glyphicons li {
    float: left;
    width: 25%;
    height: 115px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff;
}

.shortcodes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.shortcodes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
    /* Help out IE10+ with class names */
}

.shortcodes .bs-glyphicons li:hover {
    color: #fff;
    background-color: #2e73bb;
}

.shortcodes #glyphs.expanded .bs-glyphicons {
    max-height: 100%;
}

.shortcodes .bs-glyphicons-list {
    padding-left: 0;
    list-style: none;
}

@media (min-width: 768px) {
    .shortcodes .bs-glyphicons {
        margin-right: 0;
        margin-left: 0;
    }
    .shortcodes .bs-glyphicons li {
        width: 12.5%;
        font-size: 12px;
    }
}

/*  
    ----------------------------------
    38. Tabsy wrapper
    ----------------------------------
*/
.tabsy-wrapper.tabsy-wrapper-clean {
    padding: 0;
}

.tabsy-wrapper.tabsy-wrapper-intro .tabsy .tabsy-links figure figcaption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 991px) {
    .tabsy-wrapper.tabsy-wrapper-intro .tabsy .tabsy-links figure figcaption {
        top: 0;
        border: 1px solid rgba(255, 255, 255, 0.3);
        margin-left: -1px;
        margin-top: -1px;
    }
}

.tabsy-wrapper.tabsy-wrapper-intro .tabsy .tabsy-links figure figcaption .title {
    margin-bottom: 0;
}

.tabsy-wrapper.tabsy-wrapper-intro .tabsy .tabsy-links figure figcaption .desc {
    display: none;
}

.tabsy-wrapper.tabsy-wrapper-intro .tabsy .tabsy-links figure:after {
    display: none;
}

.tabsy-wrapper.tabsy-wrapper-intro .tabsy .tabsy-links figure.current {
    background-color: transparent;
}

.tabsy-wrapper.tabsy-wrapper-intro .tabsy .tabsy-links figure.current figcaption {
    background-color: rgba(46, 115, 187, 0.8);
}

.tabsy-wrapper .tabsy {
    background-size: cover;
    background-position: center;
    position: relative;
}

.tabsy-wrapper .tabsy .tabsy-images, .tabsy-wrapper .tabsy .tabsy-images > div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.tabsy-wrapper .tabsy .tabsy-images .title {
    position: absolute;
    left: 50%;
    left: 15px;
    top: 15px;
    color: white;
    text-transform: none;
    text-align: left;
    text-shadow: 0 0 5px black;
    background-color: black;
    padding: 40px;
    z-index: 66;
}

@media (max-width: 991px) {
    .tabsy-wrapper .tabsy .tabsy-images .title {
        display: none;
    }
}

.tabsy-wrapper .tabsy .tabsy-images .title small {
    display: block;
    margin-bottom: 5px;
}

.tabsy-wrapper .tabsy .tabsy-images > div {
    background-size: cover;
    background-position: center;
    opacity: 0;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.tabsy-wrapper .tabsy .tabsy-images > div.current {
    opacity: 1;
}

.tabsy-wrapper .tabsy .tabsy-images img {
    display: none;
}

.tabsy-wrapper .tabsy .tabsy-links .row {
    margin: 0;
}

.tabsy-wrapper .tabsy .tabsy-links figure {
    cursor: pointer;
    padding: 0;
    position: relative;
    overflow: hidden;
    min-height: 160px;
    background-color: rgba(0, 0, 0, 0.1);
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

@media (min-width: 992px) {
    .tabsy-wrapper .tabsy .tabsy-links figure {
        min-height: 450px;
    }
}

.tabsy-wrapper .tabsy .tabsy-links figure:after {
    font: normal normal normal 24px/30px LinearIcons;
    content: "\e876";
    -webkit-font-smoothing: antialiased;
    display: block;
    position: absolute;
    text-align: right;
    width: 100%;
    right: 0;
    bottom: 0;
    padding: 10px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.tabsy-wrapper .tabsy .tabsy-links figure a.link {
    background-color: transparent;
    font-size: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 88;
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.tabsy-wrapper .tabsy .tabsy-links figure figcaption {
    margin: 20px;
    overflow: hidden;
}

.tabsy-wrapper .tabsy .tabsy-links figure figcaption .date {
    font-size: 75%;
    display: block;
    color: #2e73bb;
}

.tabsy-wrapper .tabsy .tabsy-links figure figcaption .title {
    display: block;
    margin-top: 0;
    text-transform: none;
    color: white;
}

.tabsy-wrapper .tabsy .tabsy-links figure figcaption .desc {
    display: none;
    color: white;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

@media (min-width: 768px) {
    .tabsy-wrapper .tabsy .tabsy-links figure figcaption .desc {
        display: block;
    }
}

.tabsy-wrapper .tabsy .tabsy-links figure.current {
    background-color: rgba(46, 115, 187, 0.8);
}

.tabsy-wrapper .tabsy .tabsy-links figure.current a.link {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.tabsy-wrapper .tabsy .tabsy-links figure.current figcaption .desc {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.tabsy-wrapper .tabsy .tabsy-links figure.current:after {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

@media (min-width: 768px) {
    .tabsy-wrapper .wrapper-more {
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
    .tabsy-wrapper .wrapper-more {
        margin-top: 35px;
    }
}

/*  
    ----------------------------------
    39. History
    ----------------------------------
*/
.history {
    background-color: #eeeeee;
}

.history .container {
    padding-left: 15px;
    padding-right: 15px;
}

.history .title {
    text-transform: none;
}

.history .history-title .title {
    margin-bottom: 0;
}

.history .history-image {
    background-position: center;
    background-size: cover;
    min-height: 300px;
}

.history .row-block {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px 0;
}

.history .row-block:last-child {
    border-bottom: 0;
}

@media (min-width: 992px) {
    .history {
        padding: 80px 0;
    }
    .history .row-block {
        display: table;
        width: 100%;
        margin-bottom: 80px;
        border-bottom: 0;
    }
    .history .row-block > * {
        display: table-cell;
        vertical-align: middle;
        float: none;
        padding: 80px;
    }
    .history .history-title {
        position: absolute;
        text-align: center;
        color: white;
        width: 100px;
        height: 100px;
        padding-top: 20px;
        z-index: 1;
        margin: 0 auto;
        top: 50%;
        right: -50px;
        margin-top: -50px;
    }
    .history .history-title:before {
        z-index: -1;
        content: "";
        display: block;
        background-color: #2e73bb;
        left: 50%;
        top: 50%;
        position: absolute;
        width: 100%;
        height: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        -moz-transform: translate(-50%, -50%) scale(1.3);
        -ms-transform: translate(-50%, -50%) scale(1.3);
        -o-transform: translate(-50%, -50%) scale(1.3);
        -webkit-transform: translate(-50%, -50%) scale(1.3);
        transform: translate(-50%, -50%) scale(1.3);
    }
    .history .history-desc {
        background-color: white;
        padding-left: 120px;
    }
}

@media (max-width: 991px) {
    .history .row-block {
        border: 0;
    }
    .history .history-title {
        background-color: #2e73bb;
        color: white;
        display: inline-block;
        padding: 15px;
        margin-left: -20px;
        width: 40%;
        border-bottom-right-radius: 35px;
    }
    .history .history-title p {
        margin-bottom: 0;
    }
    .history .history-image {
        margin-bottom: 20px;
    }
}

/*  
    ----------------------------------
    40. Intro
    ----------------------------------
*/
.intro {
    background-color: #eeeeee;
    padding: 30px 0;
}

.intro.intro-white {
    background-color: white;
}

@media (min-width: 768px) {
    .intro {
        padding: 160px 0;
        text-align: center;
    }
}

/*  
    ----------------------------------
    41. Text blocks
    ----------------------------------
*/
.text-blocks {
    padding: 40px 0;
}

.text-blocks .text-block {
    padding: 60px 0;
    display: table;
    width: 100%;
    text-align: left;
}

.text-blocks .text-block > div {
    display: table-cell;
    vertical-align: middle;
}

.text-blocks .text-block .icon {
    font-size: 50px;
    padding: 0 60px;
}

@media (min-width: 992px) {
    .text-blocks {
        padding: 80px 0;
    }
}

/*  
    ----------------------------------
    42. Quotes
    ----------------------------------
*/
.quotes {
    padding: 60px 0;
    background-color: #2e73bb;
    position: relative;
    background-size: cover;
    background-position: center;
}

@media (min-width: 992px) {
    .quotes {
        padding: 80px 0;
    }
}

.quotes header {
    position: relative;
    z-index: 2;
}

.quotes header .title {
    color: white;
    text-align: center;
}

.quotes:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 0;
}

.quotes .row {
    position: relative;
    z-index: 10;
}

.quotes .row, .quotes .row > div {
    margin: 0;
    padding: 0;
}

.quotes .quote {
    color: white;
    text-align: center;
}

.quotes .quote .image {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    top: 0;
    margin-bottom: 40px;
}

.quotes .quote .image img {
    width: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.quotes .quote .text h4, .quotes .quote .text .h4 {
    text-transform: none;
    margin-bottom: 10px;
}

.quotes .quote:hover .image {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.quotes .quote .more .rating {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}

.quotes .quote .more .rating .icon {
    width: 16px;
    display: inline-block;
}

@media (max-width: 767px) {
    .quotes .quote {
        margin-bottom: 80px;
    }
}

.quotes.quotes-slider .quote {
    padding-top: 30px;
}

.quotes.quotes-slider .quote .image img {
    width: 100px;
}

@media (max-width: 767px) {
    .quotes.quotes-slider .quote {
        margin-bottom: 0;
    }
}

.quotes.quotes-slider .owl-theme {
    margin-bottom: 20px;
}

.quotes.quotes-slider .owl-theme .owl-controls .owl-buttons > div {
    color: white;
}

.quotes.quotes-slider .owl-theme .owl-controls .owl-buttons > div span {
    background-color: transparent;
}

.quotes.quotes-slider .owl-theme .owl-controls .owl-pagination {
    position: relative;
    margin-top: 40px;
}

.quotes.quotes-slider .owl-theme .owl-controls .owl-page span {
    background-color: rgba(255, 255, 255, 0.5);
}

.quotes.quotes-slider .owl-theme .owl-controls .owl-page.active span {
    background-color: white;
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

/*  
    ----------------------------------
    43. Team
    ----------------------------------
*/
.team {
    padding: 0;
}

.team article {
    background-color: white;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.team article.inactive {
    opacity: 0.2;
}

.team article.active {
    opacity: 1;
}

.team article .title {
    text-transform: none;
    margin: 0;
}

.team article .image img {
    width: 100%;
    display: block;
}

.team article a {
    color: white;
}

.team article .details {
    background-color: #2e73bb;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 0;
    -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.team article .details .inner {
    padding: 15px 0;
}

.team article .details-text {
    top: auto;
    bottom: 100%;
}

.team article .details-social {
    top: 100%;
    bottom: auto;
}

.team article .details-social .fa {
    width: 30px;
    height: 30px;
    padding: 5px;
    text-align: center;
}

.team article:hover {
    position: relative;
    z-index: 999;
}

.team article:hover .details-text {
    height: 70px;
}

.team article:hover .details-social {
    height: 60px;
}

/*  
    ----------------------------------
    44. Owl-icons
    ----------------------------------
*/
.owl-icons-wrapper {
    padding: 0;
    position: relative;
}

.owl-icons-wrapper .container {
    background-color: white;
}

.owl-icons-wrapper .owl-icons {
    position: relative;
    padding: 15px 0;
}

@media (min-width: 992px) {
    .owl-icons-wrapper .owl-icons {
        padding: 40px;
    }
}

.owl-icons-wrapper .owl-icons a:hover, .owl-icons-wrapper .owl-icons figure:hover {
    color: black;
}

.owl-icons-wrapper .owl-icons figure {
    text-align: center;
    padding: 10px 0;
}

.owl-icons-wrapper .owl-icons figure:hover .licon {
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.owl-icons-wrapper .owl-icons figure .licon {
    font-size: 20px;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.owl-icons-wrapper .owl-icons figcaption {
   font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    padding-top: 15px;
    text-align: center;
}

.owl-icons-wrapper .owl-icons.owl-theme .owl-controls .owl-buttons div span {
    color: #3a3d45;
}

.owl-icons-wrapper .owl-icons.owl-theme .owl-controls .owl-buttons .owl-next {
    right: 10px;
}

.owl-icons-wrapper .owl-icons.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 10px;
}

.owl-icons-wrapper .owl-icons-rounded figure {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    overflow: hidden;
    background-color: white;
    border: 1px solid #e0e0e0;
    padding: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-align: center;
}

.owl-icons-wrapper .owl-icons-rounded figure:hover {
    border-width: 10px;
    border-color: #e0e0e0;
}

.owl-icons-wrapper .owl-icons-rounded figcaption {
    margin-top: 5px;
    padding: 0;
}

.owl-icons-wrapper .owl-icons-boxed {
    padding: 50px 0;
}

.owl-icons-wrapper .owl-icons-boxed figure {
    background-color: #fafafa;
    border-radius: 4px;
    color: black;
    margin: 0 5px;
}

.owl-icons-wrapper .owl-icons-boxed figure:hover {
    color: #2e73bb;
}

.owl-icons-wrapper .owl-icons-outter .owl-wrapper-outer {
    margin-top: -100px;
}
