 .top1-sec::after {
    width: 100%;
    background: url(../images/yellow-top.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: -16px;
    content: '';
    height: 40px;
    z-index: 9;
}

section.product.top1-sec.sec:after {top: 0;}

section.product.top1-sec.sec {margin: -20px 0 0 0px;}
.product .info-inner .tab-content {  padding: 0 30px;  }

.menu-second{
    width: 100%;
    background: url(../images/yellow-top.png) no-repeat;
    background-size: 100% 100%;
    
}
.menu-second .top1-sec::after{  display: none;}
.cart-wrapper.new-cartt-open .cart-block.cart-block-footer.clearfix {text-align: start;}
.cart .checkout .cart-block > div img {
    width: 200px;
    height: 160px;
    border-radius: 100px;
    border: 20px solid #DDDDDD;
}
.login-block.login-block-signin a.btn.btn-main {
    height: 36px;
    padding: 8px 10px;
    border-radius: 20px;
}
.products article:hover {
    position: relative;
    z-index: 0 !important;
}


/*************Mas Css*******************/
.food-2 section.food-2-inner {
    margin-top: 40px;
}
.about-top1-sec:after {
    top: -22px !important;
    z-index: 99 !important;
}
.about-top1-sec {
    margin-top: 26px;
}
#menu {
    z-index: 999 !important;
}
.top1-sec::after {
    top: -40px  !important;
}
.btn.btn-buy{
    z-index: 9 !important;
}
nav .cart-wrapper .checkout .cart-block.cart-block-footer > div {
    float: left;
    padding: 0;
    width: 100%;
}
.checkout .cart-block .title {
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0px;
}
.order-comp{
    color: #efd12d;
    text-transform: uppercase;
    font-size: 30px;
}
.new-subtot {
    width: 100% !important;
    text-align: right;
}
.neww-btnn{
    padding: 5px 10px !important;
    /*background: #ccc;*/
    border-radius:25px !important;
    color: #fff !important;
    font-size: 12px !important;
    line-height: 13px !important;
    height: auto !important;
    background-color: #a41772 !important;
}
.lg-btnn-new{
    padding: 12px 20px !important;
}
ul.nav.nav-pills.nav-stacked {
    background: #f2f1f0;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}
ul.nav.nav-pills.nav-stacked  li {
    list-style-type: none !important;
    display: block;
    background: none !important;
    padding: 5px 15px !important;
    border-bottom: 1px solid #bdbdbd;
    margin: 0px !important;
}
ul.nav.nav-pills.nav-stacked  li.active {
    background: transparent !important;
    color: #a41772 !important;
}
.nav-pills>li.active>a{
    background: transparent !important;
    color: #a41772 !important;
}
ul.nav.nav-pills.nav-stacked  li a {
    color: #666666;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}
.new-dash-h3{
    margin: 15px 0px;
    font-size: 80px;
    font-weight: 400;
    padding: 0px 0;
    font-family: 'as_signwriterregular';
    color: #a82973;
}

a{
    color: #a41772;
}
/*************Mas Css end*******************/