.btn-xs, .btn-group-xs > .btn {
    padding: 1px 5px 2px 5px !important;

}
header .title {
    font-weight: 600 !important;
}
nav .navigation-main .floating-menu > ul {
    position: relative;
    border-bottom: 0px solid #CCC;
    padding-left: 0;
    text-align: center;
}
.header-content .item .box {
    background-color: transparent !important;
	padding:15% 20% !important;
	width:100% !important;
}
.cntr-two.blog.blog-block article .entry-block {
    background-color: transparent;
    width: 50% !important;
    top: 0;
    overflow: hidden;
    padding: 25px;
    position: absolute;
    /* text-align: right; */
    right: 0;
    top: 15%;
}
.blog.blog-block article .date {
    font-size: 80%;
     margin-bottom: 0px !important; 
    text-transform: uppercase;
}
.cntr-two.blog article .title h2{
	font-size:30px !important;
	text-transform:uppercase !important;
}
.stretcher-wrapper .stretcher .stretcher-item .stretcher-logo .text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 80% !important;
    right: 15px;
    /* bottom: 0; */
}
.stretcher-wrapper .stretcher .stretcher-item .stretcher-logo .text .text-intro {
	color:#999999 !important;
	font-size:30px !important;
	line-height:32px !important;
	font-weight:400 !important;
}
.bottomm-blog h2{
	    font-size: 18px !important;
		line-height:20px !important;
}
.main-header header {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ec673b+0,e9413a+100 */
background: #ec673b; /* Old browsers */
background: -moz-linear-gradient(top, #ec673b 0%, #e9413a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ec673b 0%,#e9413a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ec673b 0%,#e9413a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec673b', endColorstr='#e9413a',GradientType=0 ); /* IE6-9 */
}
.bottom-story{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ec673b+0,e9413a+100 */
background: #ec673b; /* Old browsers */
background: -moz-linear-gradient(top, #ec673b 0%, #e9413a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ec673b 0%,#e9413a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ec673b 0%,#e9413a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec673b', endColorstr='#e9413a',GradientType=0 ); /* IE6-9 */
}
.contact-block h2{
	color:#1175bb !important;
}
.contact-block .btn-primary{
	background:#1175bb !important;
	border:1px solid #1175bb !important;
}
.about h4{
	font-family: 'Poppins', sans-serif !important;
	font-weight:600;
	}
.figure-block {
  /*min-height: 800px;*/
}
.cart-wrapper .white-block .h4{
	font-family: 'Poppins', sans-serif !important;
	font-weight:600;
}
.products article .image {
    padding: 0px 0;
}
.new-pro{}
.new-pro.products article .image img {
    margin-top: 30px;
}
.products article .image img {
    margin-top: 30px;
}
.contact .contact-block .contact-info figure .icon:hover{
	color:#e9493a;
}
.numbers .number,.numbers  .title,.numbers  .text{
	font-family: 'Open Sans', sans-serif;
}
.history .h2.title{
	font-family: 'Poppins', sans-serif !important;
}
.history .history-title {
    width: 110px !important;
    height: 110px !important;
}
nav .logo {
    top: 0px;
}
/*.instagram .gallery .item {
    min-height: 263px;
}
*/
.breadcrumb > li a.active {
    color: rgb(255, 255, 255) !important;
    font-weight: bold !important;
}
.breadcrumb.breadcrumb-inverted > li > a {
    color: rgba(255,255,255,0.6) !important;
}
.rate-select-layer span {
    color: #2e73bb;
}

.comments .comment-user div {
    vertical-align: top !important;
}

nav .navigation-top > ul .left-side:hover {
	opacity:0.4;
}
.top--boxs .date{
	font-size:32px !important;
	font-weight:300 !important;
	text-transform:capitalize !important;
}
.home-main-center{
	position:relative;
}

.home-main-center h3{
	font-size:30px !important;
	font-weight:300;
	margin:0px !important;
	padding:0px !important;
	text-transform:uppercase;
	display:inline-block;
}
.home-main-center h3 strong{
	font-weight:600 !important;
	display:block;
}
.home-main-center a{
	    background-color: transparent;
    border:1px solid #fff;
    color: white !important;
	    border-radius: 20px;
		    padding: 10px 18px;
    font-size: 14px;
	float:left;
	text-transform:uppercase;
}
.home-main-center a:hover{
	background:#fff;
}
.home-main-center .full-img{
	width:100%;
}
.home-main-center .left1{
	position:absolute;
	right:0;
	top:10%;
}
.home-main-center .left1 h3{
	color:#fff;
}
.home-main-center .left1 span{
	font-size:90px;
	background:#eb583a;
	font-weight:600;
	padding:10px;
	color:#fff;
}
.home-main-center .left2{
	position:absolute;
	left:0;
	top:28%;
}
.home-main-center .left2 span{
	font-size:90px;
	background:#1175bb;
	font-weight:600;
	padding:10px;
	color:#fff;
	margin:0 10px 0 0;
}
.home-main-center .left2 a{
	 border:1px solid #000;
	 color:#000 !important;
	 margin-top:10px !important;
	 float:right;
	 margin-right:150px;
}
@media (max-width:1150px) {
}
@media (min-width: 768px) and (max-width: 999px) {
.instagram header{
	display:none;
}
nav .logo {
    top: 0;
}
	.bottomm-blog h2 {
    word-break: break-all;

}
	.instagram .gallery .item {

    min-height: auto;

}
}
@media (max-width: 767px) {
	.bottomm-blog h2 {
    word-break: break-all;

}
	.instagram .gallery .item {

    min-height: auto;

}
.instagram header{
	display:none;
}
.instagram .gallery .item {
    width: 100%;
    float: left;
    overflow: hidden;
}
nav .logo {
    top: 0;
}

.home-main-center .left1 span {
    font-size: 40px;
    background: #eb583a;
    font-weight: 600;
    padding: 5px;
    color: #fff;
    margin: 10px 0px;
    display: inline-table;
}
.home-main-center .left2 span {
    font-size: 40px;
    background: #1175bb;
    font-weight: 600;
    padding: 6px;
    color: #fff;
    margin: 0 10px 0 0;
    display: inline-table;
}
.home-main-center .left2 {
    position: absolute;
    left: 0;
    top: 11%;
}
.blog.blog-block article .image img {
    display: block !important;
}
.cntr-two.blog.blog-block article .entry-block {
    background-color: transparent;
    width: 100% !important;
    top: 0;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    /* text-align: right; */
    right: 0;
    top: 0;
}
.blog article .description {
    padding: 0px;
    color: white;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.cntr-two.blog article .title h2 {
    font-size: 20px !important;
    text-transform: uppercase !important;
}
}
@media (max-width: 480px) {
.instagram header{
	display:none;
}
.instagram .gallery .item {
    width: 100%;
    float: left;
    overflow: hidden;
}
nav .logo {
    top: 0;
}

.home-main-center .left1 span {
    font-size: 40px;
    background: #eb583a;
    font-weight: 600;
    padding: 5px;
    color: #fff;
    margin: 10px 0px;
    display: inline-table;
}
.home-main-center .left2 span {
    font-size: 40px;
    background: #1175bb;
    font-weight: 600;
    padding: 6px;
    color: #fff;
    margin: 0 10px 0 0;
    display: inline-table;
}
.home-main-center .left2 {
    position: absolute;
    left: 0;
    top: 11%;
}
.blog.blog-block article .image img {
    display: block !important;
}
.cntr-two.blog.blog-block article .entry-block {
    background-color: transparent;
    width: 100% !important;
    top: 0;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    /* text-align: right; */
    right: 0;
    top: 0;
}
.blog article .description {
    padding: 0px;
    color: white;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.cntr-two.blog article .title h2 {
    font-size: 20px !important;
    text-transform: uppercase !important;
}
	.checkout  .col-xs-6{
		width: 100% !important;
	}
	.checkout .col-xs-6.text-right {

    text-align: left;
    margin-top: 5px;

}
}