.main-menu-content {
  background: #1276bb;
}

.main-menu.menu-light .navigation>li.hover>a, .main-menu.menu-light .navigation>li:hover>a, .main-menu.menu-light .navigation>li.active>a {
  color: #ffffff;
  background-color: #075286;
}

.avatar img {
  width: 40px;
  max-width: 40px;
  height: 40px;
}

li.active1>a {
  color: #000 !important;
  background-color: #f7f7f7;
}

.main-menu.menu-light .navigation>li {
  border-left: 0px solid transparent;
}

a {
  color: #1276bb;
}

.badge-danger {
  background-color: #e8473a;
}

.badge-secondary {
  background-color: #1276bb;
}

.page-item.active .page-link {
  background-color: #1276bb;
  border-color: #075286;
}

.btn-primary {
  border-color: #268755 !important;
  background-color: #049b4c !important;
}

.btn-primary:hover {
  border-color: #0a75bf !important;
  background-color: #09558a !important;
}

.main-menu.menu-light .navigation {
  background: #1276bb;
}

.main-menu.menu-light .navigation li a {
  color: #f5f7fa;
}

.main-menu.menu-light .navigation>li.open {
  border-left: 4px solid #e8443a;
}

.main-menu.menu-light .navigation>li.open>a {
  color: #ffffff;
  background: #095386;
}

.main-menu.menu-light .navigation>li ul li {
  color: #f5f7fa;
  background: #095386;
}

.main-menu.menu-light .navigation>li ul .open>a {
  color: #ffffff;
}

input:focus {
  border-color: #1276bb !important;
}

.border-primary {
  border: 1px solid #1276bb !important;
}

.btn-outline-primary {
  border-color: #1276bb;
  background-color: transparent;
  color: #1276bb;
}

.btn-outline-primary:hover {
  background-color: #1276bb;
  color: #f5f7fa !important;
  border: #095a92;
}

a:hover {
  color: #053f67;
}

.select_categories {
  border: 1px solid #1276bb !important;
}

.btn-warning {
  border-color: #eb643b !important;
  background-color: #ec673c !important;
  color: #fff !important;
}

.btn-success {
  border-color: #1276bb !important;
  background-color: #1276bb !important;
  color: #FFFFFF !important;
}